<div class="container">
    <div class="page-header page-header-no-border clearfix">
        <span class="header-icon pull-left">
            <i class="fa fa-history"></i>
        </span>
        <h4 class="page-type">{{t "uma.common.shares"}}</h4>
        <h1>{{t "uma.history.title"}}</h1>
    </div>
    <p class="page-description">{{t "uma.history.subtitle"}}</p>

    <div id="uma">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="backgridContainer" class="backgrid-container"></div>
                <div id="paginationContainer"></div>
            </div>
        </div>
    </div>
</div>
