<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>OpenSSO Client Samples</display-name>
    <filter>
        <filter-name>clientConfiguratorFilter</filter-name>
        <filter-class>com.sun.identity.setup.ClientConfiguratorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>clientConfiguratorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
	<servlet-name>notificationservice</servlet-name>
	<servlet-class>com.iplanet.services.comm.client.PLLNotificationServlet</servlet-class>
    </servlet>

    <servlet>
	<servlet-name>ServiceConfigServlet</servlet-name>
	<servlet-class>com.sun.identity.samples.clientsdk.ServiceConfigServlet</servlet-class>
    </servlet>

    <servlet>
	<servlet-name>UserProfileServlet</servlet-name>
	<servlet-class>com.sun.identity.samples.clientsdk.UserProfileServlet</servlet-class>
    </servlet>
    
    <servlet>
	<servlet-name>PolicyClientServlet</servlet-name>
	<servlet-class>com.sun.identity.samples.clientsdk.PolicyClientServlet</servlet-class>
    </servlet>

    <!-- SSO Samples -->
    <servlet>
    <servlet-name>SSOTokenSampleServlet</servlet-name>
    <servlet-class>com.sun.identity.samples.sso.SSOTokenSampleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
	<servlet-name>notificationservice</servlet-name>
	<url-pattern>/notificationservice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	<servlet-name>ServiceConfigServlet</servlet-name>
	<url-pattern>/SCS</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	<servlet-name>UserProfileServlet</servlet-name>
	<url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
	<servlet-name>PolicyClientServlet</servlet-name>
	<url-pattern>/Policy</url-pattern>
    </servlet-mapping>

    <!-- SSO Samples -->
    <servlet-mapping>
        <servlet-name>SSOTokenSampleServlet</servlet-name>
        <url-pattern>/SSOTokenSampleServlet</url-pattern>
    </servlet-mapping>
</web-app>
