{{#if showForgotten}}
<nav class="text-center clearfix remember-forgot" role="navigation">
    <ul>
        {{#if showForgotUserName}}
            <li><a href="{{urlTo 'forgotUsername'}}">{{t "templates.user.LoginTemplate.forgotUsername"}}</a></li>
        {{/if}}

        {{#if showForgotPassword}}
            <li><a href="{{urlTo 'passwordReset'}}">{{t "templates.user.LoginTemplate.resetPassword"}}</a></li>
        {{/if}}
    </ul>
</nav>
{{/if}}

{{#if showSelfRegistration}}
<div class="toggle-login-register">
    <hr>
    {{t "templates.login.newHere" }} <a href="{{urlTo 'selfRegistration'}}">{{t "templates.login.createAccount" }}</a>
</div>
{{/if}}
