<div class="form-group">
    <hr>
    <p role="heading">{{t "templates.user.LoginTemplate.socialAuthentication"}}</p>
    <nav role="navigation">
        <ul class="list-inline">
            {{#each socialImplementations}}
                <li>
                    <a href="?service={{authnChain}}{{gotoParameter}}{{intendedRealmParameter}}{{urlTo 'login'}}" title="{{displayName}}">
                        <img alt="{{displayName}}" src="{{iconPath}}" width="50px" height="50px" />
                    </a>
                </li>
            {{/each}}
        </ul>
    </nav>
</div>
