<div class="list-table created-items">
    <h5 class="list-group-header">{{t "policy.common.actions"}}</h5>

    <ul class="list-group">
        {{#if items}}
        {{#each items}}
        <li class="{{#equals this ../../options.justAdded}}text-success{{/equals}} list-group-item" data-item-name="{{name}}">
            {{name}}

            <span tabindex="0" class="fa fa-close pull-right"></span>

            <div class="pull-right radio-group">
                <label class="radio-inline">
                    <input name="{{name}}Permission" type="radio" value="true" {{#if value}}checked{{/if}}> {{t "policy.actions.allow"}}
                </label>

                <label class="radio-inline">
                    <input name="{{name}}Permission" type="radio" value="false" {{#unless value}}checked{{/unless}}> {{t "policy.actions.deny"}}
                </label>
            </div>
        </li>
        {{/each}}
        {{else}}
        <li class="list-group-item text-danger">{{t "policy.common.noActions"}}</li>
        {{/if}}

        <li class="editing clearfix list-group-item form-inline" data-item-name>
            <input class="form-control" type="text" placeholder="{{t 'policy.actions.addNew'}}" />

            <span tabindex="0" class="fa fa-plus pull-right"></span>

            <div class="pull-right radio-group">
                <label class="radio-inline">
                    <input name="pending" type="radio" value="true" checked> {{t "policy.actions.allow"}}
                </label>

                <label class="radio-inline">
                    <input name="pending" type="radio" value="false"> {{t "policy.actions.deny"}}
                </label>
            </div>
        </li>
    </ul>
</div>