<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{#each headers}}
                    <th>{{this}}</th>
                {{/each}}
                <th class="fr-col-btn-2"></th>
            </tr>
        </thead>
        <tbody>
        {{#each items}}
            <tr>
                <td class="wordwrap"><a href="{{routeTo 'realmDefault' path}}">{{name}}</a></td>
                <td class="wordwrap">
                    {{> util/_Status active=active }}
                </td>
                <td class="wordwrap">{{path}}</td>
                <td>
                    {{#each aliases}}
                        {{this}}{{#unless @last}}, {{/unless}}
                    {{/each}}
                </td>
                <td class="fr-col-btn-3">
                    <div class="btn-group" data-realm-path="{{path}}">
                        <a href="{{routeTo 'realmEdit' path}}" class="btn btn-link" data-realm-name="{{name}}" title="{{t 'common.form.edit'}}"><i class="fa fa-pencil"></i></a>
                        {{#if active}}
                            <button type="button" data-toggle-realm {{#if isTopLevelRealm}}disabled{{/if}} class="btn btn-link" title="{{t 'common.form.deactivate'}}">
                                <i class="fa fa-ban"></i>
                            </button>
                        {{else}}
                            <button type="button" data-toggle-realm {{#if isTopLevelRealm}}disabled{{/if}} class="btn btn-link" title="{{t 'common.form.activate'}}">
                                <i class="fa fa-check"></i>
                            </button>
                        {{/if}}
                        <button type="button" data-delete-realm {{#if isTopLevelRealm}}disabled{{/if}} class="btn btn-link" title="{{t 'common.form.delete'}}">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
