<div id="menu" class="menubar"></div>
<div class="container">
    <div class="page-header-min">
        <h3><a href="{{routeTo 'realmsDashboard' realmPath}}">{{realmName}}</a></h3>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2">
            <nav class="sidenav">
                <ol class="list-unstyled">
                    <li>
                        <a href="{{routeTo 'realmsDashboard' realmPath}}" class="text-primary">
                            <i class="fa fa-dashboard"></i>{{t "console.common.nav.dashboard"}}
                        </a>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#authenticationList" aria-expanded="false" aria-controls="authenticationList" class="text-primary">
                            <i class="fa fa-key"></i>{{t "console.common.nav.authn.authn"}}
                        </a>
                        <ol class="collapse list-unstyled sidenav-submenu" id="authenticationList">
                            <li>
                                <span><i class="fa fa-angle-right"></i></span>
                                <a href="{{routeTo 'realmsAuthenticationSettings' realmPath}}" class="text-primary">
                                    {{t "console.common.nav.authn.settings"}}
                                </a>
                            </li>
                            <li>
                                <span><i class="fa fa-angle-right"></i></span>
                                <a href="{{routeTo 'realmsAuthenticationChains' realmPath}}" class="text-primary">
                                    {{t "console.common.nav.authn.chains"}}
                                </a>
                            </li>
                            <li>
                                <span><i class="fa fa-angle-right"></i></span>
                                <a href="{{routeTo 'realmsAuthenticationModules' realmPath}}" class="text-primary">
                                    {{t "console.common.nav.authn.modules"}}
                                </a>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <a href="#" class="text-primary" data-event="main.navigation.EVENT_REDIRECT_TO_JATO_SERVICES">
                            <i class="fa fa-plug"></i>{{t "console.common.nav.services"}}
                        </a>
                    </li>

                    <li>
                        <a href="#" class="text-primary" data-event="main.navigation.EVENT_REDIRECT_TO_JATO_DATASTORES">
                            <i class="fa fa-database"></i>{{t "console.common.nav.dataStores"}}
                        </a>
                    </li>

                    <li>
                        <a href="#" class="text-primary" data-event="main.navigation.EVENT_REDIRECT_TO_JATO_PRIVILEGES">
                            <i class="fa fa-check-square-o"></i>{{t "console.common.nav.privileges"}}
                        </a>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#policiesNavList" aria-expanded="false" aria-controls="policiesNavList" class="text-primary">
                            <i class="fa fa-key"></i>{{t "console.common.nav.authz.authz"}}
                        </a>
                        <ol class="collapse list-unstyled sidenav-submenu" id="policiesNavList">
                            <li>
                                <span><i class="fa fa-angle-right"></i></span>
                                <a href="{{routeTo 'realmsPolicySets' realmPath}}" class="text-primary">{{t "console.common.nav.authz.policies"}}</a>
                            </li>
                            <li>
                                <span><i class="fa fa-angle-right"></i></span>
                                <a href="{{routeTo 'realmsResourceTypes' realmPath}}" class="text-primary">{{t "console.common.nav.authz.resourceTypes"}}</a>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <a href="#" class="text-primary" data-event="main.navigation.EVENT_REDIRECT_TO_JATO_SUBJECTS">
                            <i class="fa fa-users"></i>{{t "console.common.nav.subjects"}}
                        </a>
                    </li>

                    <li>
                        <a href="#" class="text-primary" data-event="main.navigation.EVENT_REDIRECT_TO_JATO_AGENTS">
                            <i class="fa fa-male"></i>{{t "console.common.nav.agents"}}
                        </a>
                    </li>

                    <li>
                        <a href="#" class="text-primary" data-event="main.navigation.EVENT_REDIRECT_TO_JATO_STS">
                            <i class="fa fa-ticket"></i>{{t "console.common.nav.sts"}}
                        </a>
                    </li>

                    <li>
                        <a href="{{routeTo 'realmsScripts' realmPath}}" class="text-primary">
                            <i class="fa fa-code"></i>{{t "console.common.nav.scripts"}}
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

        <div id="sidePageContent" class="col-sm-9 col-md-9 col-lg-10"></div>
    </div>
</div>
