language: java
matrix:
    include:
        - os: linux
          jdk: oraclejdk8
        - os: linux
          jdk: openjdk8
        - os: osx
          osx_image: xcode9.1
          env: ALLOW_FAILURE=true
before_install:
 - date -u
 - uname -a
 - env | sort
branches:
 only:
   - master
notifications:
 email:
  - support@openam.org.ru
before_install:
  -  mvn -q -B -DskipTests clean install -f forgerock-parent
  -  mvn -q -B -DskipTests clean install -f OpenDJ-SDK 
  -  mvn -q -B -DskipTests clean install -f OpenDJ
script
  -  mvn -q -B clean install
