/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent} body{line-height:18px;} ol,ul,li{list-style:none} blockquote,q{quotes:none} blockquote:before,blockquote:after,q:before,q:after{content:"";content:none} :focus{outline:0} ins{text-decoration:none} del{text-decoration:line-through} table{border-collapse:collapse;border-spacing:0} textarea{resize:none}

/**** customisable elements ****/
body
{
    background-image:url(../images/body-bg.png);   /* background gradient image - must be 100px * 1500px, .png is best */
    background-color:#b3b7bb;              /* this colour must be set to the finishing colour (at the very bottom) of the gradient */
    color:#363636; /* default font colour */
}

.logo /* brand logo (make sure you set the width and height too) */
{
    background-image:url(../images/forge-rock.png);
    width:226px;
    height:60px;
}

.product-logo /* product logo (should be 50px in height, width to be set below - no wider than 220px) */
{
    background-image:url(../images/open-am.png);
    width:161px;
}

.box /* the main content box */
{
    background-color:#FFFFFF; /* solid colour alternative for browsers that do not support gradients */

    /* choose the gradient-from and gradient-to colours and replace the hex values in EACH of the rules below */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#cdcdcd));
    background-image:-webkit-linear-gradient(top, #FFFFFF, #cdcdcd);
    background-image:-moz-linear-gradient(top, #FFFFFF, #cdcdcd);
    background-image:-ms-linear-gradient(top, #FFFFFF, #cdcdcd);
    background-image:-o-linear-gradient(top, #FFFFFF, #cdcdcd);
    background-image:linear-gradient(top, #FFFFFF, #cdcdcd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#cdcdcd');
}

.button /* secondary buttons */
{
    color:#FFF; /* font color */
    border:1px solid #9f9f9f;
    background-color:#898989; /* solid colour alternative for browsers that do not support gradients */

    /* choose the gradient-from and gradient-to colours and replace them in EACH of the rules below */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#cecece), to(#898989));
    background-image:-webkit-linear-gradient(top, #cecece, #898989);
    background-image:-moz-linear-gradient(top, #cecece, #898989);
    background-image:-ms-linear-gradient(top, #cecece, #898989);
    background-image:-o-linear-gradient(top, #cecece, #898989);
    background-image:linear-gradient(top, #cecece, #898989);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cecece', EndColorStr='#898989');
}

.primary /* primary button */
{
    color:#FFF; /* font color */
    border:1px solid #d16000;
    background-color:#e76a00; /* solid colour alternative for browsers that do not support gradients */

    /* choose the gradient-from and gradient-to colours and replace them in EACH of the rules below */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#fbbc87), to(#e76a00));
    background-image:-webkit-linear-gradient(top, #fbbc87, #e76a00);
    background-image:-moz-linear-gradient(top, #fbbc87, #e76a00);
    background-image:-ms-linear-gradient(top, #fbbc87, #e76a00);
    background-image:-o-linear-gradient(top, #fbbc87, #e76a00);
    background-image:linear-gradient(top, #fbbc87, #e76a00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbbc87', EndColorStr='#e76a00');
}

.box h1 { color:#363636; } /* heading font colour */

.footer { color:#c2c2c2; } /* footer font colour (need to change both values here) */
.footer a { color:#c2c2c2; }

.message /* info/error message */
{
    background-color:#f6ddc9; /* background colour */
    color:#363636; /* font colour */
}
#steps li.on /* set this colour and bg colour to be the same as the message colours */
{
    background-color:#f6ddc9; /* background colour */
    color:#363636; /* font colour */
}

/**** end of customisable elements ****/



/* 960 Grid System - http://960.gs/ */
body{min-width:960px}.container_12{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11{position:relative}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_3{width:220px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_6{width:460px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_9{width:700px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_12 .grid_12{width:940px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_3{padding-left:240px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_6{padding-left:480px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_9{padding-left:720px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_3{padding-right:240px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_6{padding-right:480px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_9{padding-right:720px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_3{left:240px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_6{left:480px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_9{left:720px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_3{left:-240px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_6{left:-480px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_9{left:-720px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after,.container_12:after{clear:both}.clearfix,.container_12{zoom:1}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clear-float:before,.clear-float:after {content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clear-float:after {clear:both;}
.left { float:left !important; }
.right { float:right !important; }

/* type */
body { font-family:Arial,Helvetica,Sans-Serif; font-size:12px; line-height:14px; background-repeat:repeat-x; }
h1, h1 a { font-size:20px; line-height:20px; }
h2, h2 a { font-size:18px; line-height:18px; }
h3, h3 a { font-size:15px; line-height:15px; }
a { text-decoration:underline; color:#363636; }

.logo
{
    background-repeat:no-repeat;
    display:block;
    margin:30px 0;
}

.product-logo
{
    background-repeat:no-repeat;
    display:block;
    height:60px;
    float:right;
}

.footer { margin-top:20px; font-size:10px; line-height:12px; }

.box 
{
    clear:both;
    padding:40px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip:padding;-webkit-background-clip:padding-box; background-clip:padding-box;
    -webkit-box-shadow: 3px 3px 5px #333333;
    -moz-box-shadow: 3px 3px 5px #333333;
    box-shadow: 3px 3px 5px #333333;
}

.box-spaced { padding:150px 0; }
.box-content { padding:10px 30px 0 0; margin-left:13px; }
.content-strips li { border-top:1px solid #ececec; border-bottom:2px solid #bababa; padding:20px 0; clear:both; }
.content-strips :first-child { border-top:0; }
.content-strips :last-child { border-bottom:0; }

.content-strips li h3 { width:200px; float:left; }
.content-strips li p { margin-bottom:10px; }
.content-strips li div { width:455px; float:left; }


.left-seperator
{ 
    border-left:1px solid #ececec;
    margin-left:9px;
    -webkit-box-shadow:-4px 0 2px -3px #d9d9d9;
    -moz-box-shadow:-4px 0 2px -3px #d9d9d9;
    box-shadow:-4px 0 2px -3px #d9d9d9;
}

.box h1 { margin-bottom:20px; }


/* form styles */
.box-content fieldset { margin-top:10px; display:block; float:left; }
.box-content fieldset .row:last-child { margin-top:10px; }
.row { clear:both; margin-bottom:10px; float:left; width:100%; }
label { font-weight:bold; display:block; float:left; width:130px; clear:both; padding:7px 10px 7px 0; }
input.textbox
{
    width:250px;
    display:block;
    float:left;
    height:22px;
    border:1px solid #b3b3b3;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    -webkit-box-shadow:0 3px 5px -2px #999;
    -moz-box-shadow:0 3px 5px -2px #999;
    box-shadow:0 3px 5px -2px #999;
    padding:2px;
}
input.short { width:100px; }
.checkbox
{
    width:488px;
    display:block;
    float:left;
    padding-top:8px;
}
.radios
{
    width:498px;
    display:block;
    float:left;
    padding-top:8px;
}
.radios input { display:block; float:left; clear:none; margin:3px 3px 0px 5px; padding:0; }
.radios label { display:block; float:left; clear:none; padding:1px 0 2px 3px; width:220px; font-weight:normal; }
.radios label:last-child { padding-bottom:0px; }

.checkbox input { display:block; float:left; margin:2px 4px 0 3px; padding:0; }
.checkbox label { display:inline; float:none; clear:none; padding:1px 3px; width:auto; font-weight:normal; }

.button
{
    display:block;
    float:left;
    padding:4px 12px;
    font-weight:bold;
    font-size:14px;
    text-shadow:1px 1px 5px #666;
    text-decoration:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:2px 2px 5px -1px #999;
    -moz-box-shadow:2px 2px 5px -1px #999;
    box-shadow:2px 2px 5px -1px #999;
    cursor: pointer;
}
.disabled
{
    text-shadow:none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
    border-color:#ababab !important;
    background-color:#cecece !important;
    background-image:none !important;
    color:#FFF !important;
    cursor:default !important;
}

.box-content fieldset .button { margin-right:5px; }
.box-content fieldset .primary
{
    clear:both; 
    margin-left:140px;
}


/* messages */
.message { padding:10px 10px 10px 40px; margin-bottom:10px; line-height:20px; font-weight:bold; }
.message h3 { margin-bottom:5px; }
.message a { font-weight:normal; }
.message .icon { margin-left:-30px; }
.no-icon { padding-left:10px; }

.icon { width:20px; height:20px; display:block; float:left; }
.error { background:url(../images/icons.png) no-repeat 0 0; }
.info { background:url(../images/icons.png) no-repeat -25px 0; }
.arrow { background:url(../images/icons.png) no-repeat -50px 0; }

.row .message { padding-top:5px; padding-bottom:5px; float:left; width:170px; margin-bottom:0; margin-left:10px; }
.row .radios .message, .row .checkbox .message { margin-top:5px; margin-left:0; }

/* modal stuff */
hr { border-top:1px solid #B3B3B3; border-bottom:1px solid #FFF; border-left:0; border-right:0; clear:both; }

#modal { width:900px; padding-top:0; padding-bottom:15px; background-image:none; position:relative; }
#modal p { margin-bottom:10px; }
.close { width:40px; height:40px; background:url(../images/icons.png) no-repeat -70px 0; text-indent:-5000px; }
#modal .close { position:absolute; top:-10px; right:-10px; }
.col { float:left; padding-top:25px; }
#left-col { width:180px; }
#main-col { width:660px; padding-left:10px; padding-right:40px; }
#main-col h1 { margin-top:8px; }
#main-col hr { margin-top:25px; margin-bottom:15px; }
#main-col fieldset { clear:both; border:1px solid #B3B3B3; padding:10px 15px 15px; margin-bottom:20px; }
#main-col fieldset legend { margin-left:-3px; padding:0 5px; font-size:14px; font-weight:bold; }
.desc { font-style:italic; font-weight:bold; }

#steps { margin-left:15px; }
#steps, #steps li { list-style-type:decimal; list-style-position:inside; }
#steps li { font-weight:bold; padding:8px 5px; }
#steps li a { text-decoration:none; cursor:text; }
#steps li.done a { cursor:pointer; }

/* customization */
div .row .button { margin-right:5px }
