.page-header, .page-header-min h3 {
    border-bottom: 1px solid #2b2f31;
}

.navbar-brand {
    padding: 8px 15px 0;
}

.am-panel-card:hover {
    border-color: #486B64;
}

.am-panel-card:hover .card-icon-circle {
    background-color: #7CCABA;
}

.dropdown-header {
    font-size: inherit;
}

.btn-toolbar.page-toolbar {
    border-color: #444;
}
