<div id="menu" class="menubar"></div>

<div class="subnav-container">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header {{#if crumbs}}col-sm-3 col-md-3 col-lg-2{{else}}col-sm-12{{/if}}">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#breadcrumbNavBar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="ellipsis">
                        <strong>
                            {{#if icon}}<i class="fa {{icon}}"></i> {{/if}}<a href="{{home}}">{{{title}}}</a>
                        </strong>
                    </div>
                </div>

                {{#if crumbs}}
                <div class="ellipsis col-sm-9 col-md-9 col-lg-10 hidden-xs">
                    {{> breadcrumb/_Breadcrumb crumbs=crumbs }}
                </div>
                {{/if}}

                <div id="breadcrumbNavBar" class="navbar-collapse collapse">
                    <nav class="sidenav visible-xs-block">
                        <ol class="list-unstyled">
                            {{#each this.treeNavigation}}
                                {{> templates/admin/views/common/navigation/_TreeNavigationLeaf identifier="side"}}
                            {{/each}}
                        </ol>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class="container tree-view-container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2 hidden-xs">
            <nav class="sidenav">
                <ol class="list-unstyled">
                    {{#each this.treeNavigation}}
                        {{> templates/admin/views/common/navigation/_TreeNavigationLeaf identifier="top"}}
                    {{/each}}
                </ol>
            </nav>
        </div>

        <div id="sidePageContent" class="col-sm-9 col-md-9 col-lg-10"></div>
    </div>
</div>
