{{#if tokens}}
<div id="oAuthTokens" class="panel panel-default panel-collapse">

    <div class="panel-heading" role="tab" id="tokensCollapseHeading">
        <h4 class="panel-title collapse-title">
            <a data-toggle="collapse" href="#tokensCollapse" aria-expanded="true" aria-controls="tokensCollapseHeading" class="">{{t "templates.oauth.tokenList"}}</a>
        </h4>
    </div>

    <div id="tokensCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tokensCollapse" aria-expanded="true">    
        <div class="panel-body">
            <table id="oAuthTokensTable" class="table table-striped">
                <thead>
                    <th id="oAuthTokensAppName"     class="col-md-4"  scope="col">{{t "openam.oAuth2.tokens.appName"}}</th>
                    <th id="oAuthTokensScope"       class="col-md-3"  scope="col">{{t "openam.oAuth2.tokens.scope"}}</th>
                    <th id="oAuthTokensExpiryDate"  class="col-md-3"  scope="col">{{t "openam.oAuth2.tokens.expiryDate"}}</th>
                    <th id="oAuthTokensDeleteBtn"   class="col-md-2"  abbr="" scope="col"></th>    
                </thead>

                <tbody>
                    {{#each tokens}}
                    <tr id="oAuthToken_{{@index}}">
                        <td>{{this.display_name}} </td>
                        <td>{{this.scopes}} </td>
                        <td>{{this.expireTime}} </td>
                        <td>
                            <div class="pull-right">
                                <a class="deleteToken" href="#" id="{{this.id}}" data-toggle="tooltip" title="{{t 'openam.oAuth2.tokens.deleteToken'}}"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>      
            </table>
        </div>
    </div>
</div>
{{/if}}



