/**
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 2014-2015 ForgeRock AS.
 *
 * The contents of this file are subject to the terms of the Common Development and Distribution License (the License).
 * You may not use this file except in compliance with the License.
 *
 * You can obtain a copy of the License at http://forgerock.org/license/CDDLv1.0.html. See the License for the specific
 * language governing permission and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL Header Notice in each file and include the License file at
 * http://forgerock.org/license/CDDLv1.0.html. If applicable, add the following below the CDDL Header, with the fields
 * enclosed by brackets [] replaced by your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 */


#dashboard {
    .dashboard-section > div.panel{
        margin-bottom: 10px;
    }

    .collapse-title {
        font-size: 18px;
        letter-spacing: 0px;
    }

    .panel-body {
        padding: 20px 20px 15px 20px;
    }

    .table {
        border-bottom: 1px solid #ddd;
    }

    a .appImage {
        padding-right:5px;

        img {
            width: 50px;
            height: 50px;
        }
    }
}

.device-details {
    input.checkbox {
        margin-top: 5px;
        float: left;
    }

    a[data-toggle="popover"] {
        margin: 8px 0 0 10px;
    }

    pre {
        min-width: 280px;
    }
}
