<p class="panel-description">{{t "openam.deviceManagement.devicesSettingDialog.description"}}</p>
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-4" for="oathStatus">{{t "openam.deviceManagement.devicesSettingDialog.authentication"}}</label>
        <div class="col-sm-8">
            <div class="control-group">
                <div class="checkbox checkbox-slider checkbox-slider-md checkbox-slider--b-flat checkbox-slider-primary">
                    <label>
                        <input type="checkbox" id="oathStatus" {{#if authNeeded}} checked {{/if}}>
                        <span></span> {{!-- This span is required by titatoggle, for adding styles.  --}}
                    </label>
                </div>
                <span class="help-block">{{t "openam.deviceManagement.devicesSettingDialog.help"}}</span>
            </div>
        </div>
    </div>
</div>