<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-4" for="deviceName">{{t 'openam.deviceManagement.deviceDetailsDialog.deviceName'}}</label>
        <div class="col-sm-7">
            <input type="text" id="deviceName" class="form-control input-btn" value="{{deviceName}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="recoveryCodes">{{t 'openam.deviceManagement.deviceDetailsDialog.recoveryCodes'}}</label>
        <div class="col-sm-7">
            <pre id="recoveryCodes" class="text-center">{{#each recoveryCodes}}{{this}}<br>{{/each}}</pre>
            <button class="btn btn-default recovery-codes-download"><span class="bootstrap-dialog-button-icon fa fa-download"></span>{{t 'common.form.download'}}</button>
        </div>
    </div>
</form>