{
    "env": {
        "development": {
            "sourceMaps": "inline"
        }
    },
    "only": [
        "main-authorize.js",
        "main-device.js",
        "main.js",
        "org/forgerock/openam/**/*.js"
    ],
    "plugins": [
        "check-es2015-constants",
        "transform-es2015-arrow-functions",
        "transform-es2015-block-scoping"
    ]
}
