{
    "env": {
        "development": {
            "sourceMaps": true
        }
    },
    "only": [
        "main-authorize.js",
        "main-device.js",
        "main.js",
        "config/**/*.js",
        "org/forgerock/openam/**/*.js",
        "store/*.js"
    ],
    "presets": ["es2015"]
}
