<div class="back-bar">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{consolePath}}">Console</a></li>
            <li><a href="#console/realm">{{realm}}</a></li>
            <li class="active">Authentication</a></li>
            <li class="pull-right back-button"><i class="fa fa-angle-left"></i> <a href="#console/realm"> Back</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="page-header clearfix">
        <span class="header-icon pull-left"><i class="fa fa-key"></i></span>
        <h4 class="page-type">Realm</h4>
        <h1>Authentication</h1>
    </div>

    <div class="console-tabs">
        <div class="tab-menu">
            <ul class="nav nav-tabs" role="tablist">
                <li class="dropdown pull-right tabdrop hide">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-align-justify"></i>
                    <i class="fa fa-ellipsis-v"></i>
                  </a>
                  <ul class="dropdown-menu"></ul>
                </li>
                <li class="active"><a href="#settings" role="tab"  data-toggle="tab" aria-expanded="true">Settings</a></li>
                <li><a href="#chains"  role="tab" data-toggle="tab" aria-expanded="false">Chains</a></li>
                <li><a href="#modules" role="tab" data-toggle="tab" aria-expanded="false">Modules</a></li>
            </ul>
        </div>

        <div class="tab-content clearfix">
            <div role="tabpanel" class="tab-pane active" id="settings">
                <div class="tab-pane-body">
                    <div class="panel-body">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="tab-pane-footer clearfix">
                    <div class="pull-right">
                        <a href="#console/realms/authentication/advanced/"  class="btn btn-default">{{t "console.authentication.settings.advancedSettings"}}</a>
                        <button id="saveChanges" type="button" class="btn btn-primary">{{t "console.authentication.settings.saveChanges"}}</button>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="chains">
                <div class="tab-pane-body">
                    <div class="panel-body">
                        <p class="panel-description">...</p>
                    </div>

                </div>
                <div class="tab-pane-footer clearfix">
                    <div class="pull-right">
                        <button type="button" disabled class="btn btn-sm btn-default">Delete</button>
                        <a href="#console/realms/authentication/chains/" id="addChain" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Chain</a>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="modules">
                <div class="tab-pane-body">
                    <div class="panel-body">
                        <p class="panel-description">...</p>
                    </div>

                    <div class="tab-pane-footer clearfix">
                        <div class="pull-right">
                            <button type="button" disabled class="btn btn-sm btn-default">Delete</button>
                            <a id="addModule" href="#console/realms/authentication/module/" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Module</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
