<div class='content-bg'>
    <div class='policy-header'>
        <div class="float-right">
            <a id="share" class='icon-share button'><span>{{t "uma.resources.show.share"}}</span></a>
            <a class='icon-close button error' id='revokeAll'><span>{{t "uma.resources.show.revokeAll"}}</span></a>
        </div>
        <h1>{{t "uma.resources.show.resource"}}: <span>{{name}}</span></h1>
        <h2><span>{{t "uma.resources.show.subtitle"}}</span></h2>
    </div>

    <div class='policy-content'  id='uma'>
        <div id='backgridContainer' class='backgrid-container'></div>
        <div id='paginationContainer'></div>
    </div>
</div>
