<form id="passwordChange" action="" class="form-horitzontal" method="post" onsubmit="return false" autocomplete="off">
    <fieldset class="fieldset">
        <div class="col-md-5">
          <div class="form-group has-feedback has-success">
              <label for="currentPassword">{{t "common.user.oldPassword"}}</label>
              <input  id="currentPassword" class="form-control" type="password" name="currentPassword" value="" data-validator="required" pattern=".{8,}" data-validator-event="keyup change" required autofocus />
              <span class="error form-control-feedback"><i class="fa validation-icon"></i></span>
          </div>

          <span class="help-block">{{t "templates.user.ChangeSecurityDataDialogTemplate.enterNewPasswordToChange"}}</span>

          <div class="form-group has-feedback">
              <label for="password">{{t "common.user.newPassword"}}</label>
              <input type="password" class="form-control" id="password" name="password" value="" data-validation-dependents="passwordConfirm" data-validator="minLength" minLength="8" pattern=".{8,}" data-validator-event="keyup change" data-validation-status="error" required />
          </div>

           <div class="form-group has-feedback">
              <label for="confirm">{{t "common.user.confirmPassword"}}</label>
              <input id="confirm" class="form-control" type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" required/>
          </div>
        </div>

        <div class="col-md-6 validationRules well" data-for-validator="password passwordConfirm">
            <div class="field-rule">
                <span class="error"><i class="fa validation-icon"></i></span>
                <span data-for-validator="minLength">{{t "common.form.validation.atLeast8Characters"}}</span>
            </div>

            <div class="field-rule">
                <span class="error"><i class="fa validation-icon"></i></span><span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
            </div>
        </div>
    </fieldset>
</form>
