 <div id="container" class="container">
 	<div id="header" class="container">
 		<div id="logo" class="float-left">
        	<a href="#" title="idm"><img src="images/logo.png" width="226" height="60" alt="idm logo" /> </a>
		</div>
		<div id="user-nav" class="float-right">
            <div id="loginContent">
                <a href="#profile/" id="profile_link">{{t "common.user.profile"}}</a>
                <span class="">|</span>
                <a href="#profile/change_security_data/" id="security_link">{{t "templates.user.UserProfileTemplate.changeSecurityData"}}</a>
                <span class="">|</span>
                <input type="button" name="logout_link" id="logout_link" class="link" value='{{t "common.form.logout"}}' />
            </div>
		</div> 
 	</div>
 	
    <div id="menu" class="menubar"></div>

    <div id="content" class="content"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="center">
        	<a href="mailto: info@forgerock.com" class="active">info@forgerock.com</a>, or phone +47 21520108.<br />
        	Copyright (c) 2010-12 ForgeRock, all rights reserved.
        </p>
    </div>
</div>
