<style>
#header{
    width: 550px;
}
</style>
<div class="container-shadow" style="width:550px;padding:10px;">
    {{#if isStageOne}}
        <form id="forgotPassword" action="" class="form" method="post" onsubmit="return false">
            <h1>{{t "templates.user.ForgottenPasswordTemplate.forgottenPasswordQuestion"}}</h1><br/>
            <div id="step1">
                <fieldset>
                        <p>{{t "templates.user.ForgottenPasswordTemplate.enterLogin"}}</p><br/>
                        <table class="group-field">
                            <tr class="field">
                                <td><label>{{t "common.user.username"}}</label></td>
                                <td> 
                                    <input type="text" id="username" name="username" value=""  data-validator="required"  data-validator-event="keyup change"/>
                                    <span class="error">x</span>
                                </td>
                            </tr>
                            <tr class="field">
                                <td></td>
                                <td>
                                    <br/>
                                    <input type="submit" id="continue" value="{{t "common.form.submit"}}" class="button active" />
                                    <input type="button" value="{{t "common.form.cancel"}}" class="button gray cancelButton"/>
                                </td>
                            </tr>
                        </table>
                </fieldset>
            </div>
            <div id="emailSent" style="display:none">
                {{t "templates.user.ForgottenPasswordTemplate.emailSent"}}
            </div>
        </form>
    {{else}}
        <form id="passwordChange" action="" class="form" method="post" onsubmit="return false">
            <h1>{{t "templates.user.ForgottenPasswordTemplate.changeForgottenPassword"}}</h1><br/>
            <div id="step2">
                <fieldset>
                        <p>{{t "templates.user.ChangeSecurityDataDialogTemplate.enterNewPasswordToChange"}}</p><br/>
                            <div class="group-field">
                                <table class="group-field-inputs">
                                    <tr class="field">
                                        <td><label>{{t "common.user.newPassword"}}</label></td>
                                        <td>
                                            <input type="password" id="password" name="password" value=""  data-validator="minLength" minLength="8"  data-validator-event="keyup change"/>
                                            <div class="field-rule">
                                                <span class="error">x</span> 
                                                <span data-for-validator="minLength">At least 8 characters</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="field">
                                        <td><label>{{t "common.user.confirmPassword"}}</label></td>
                                        <td> 
                                            <input type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" />
                                            <div class="field-rule">
                                                <span class="error">x</span> 
                                                <span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="field">
                                        <td></td>
                                        <td style="padding-top:20px;">
                                            <input type="submit" id="changePasswordButton" value="{{t "common.form.submit"}}" class="button active" />
                                            <input type="button" id="cancel" value="{{t "common.form.cancel"}}" class="button gray cancelButton"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                </fieldset>
            </div>
            <div id="passwordChangeSuccess" style="display:none">
                {{t "config.messages.UserMessages.changedPassword"}} <a href="#" class="cancelButton">{{t "templates.user.ForgottenPasswordTemplate.proceedToLogin"}}</a>
            </div>
        </form>
    {{/if}}
</div>