<div class="container">
    {{#if isStageOne}}
        <div class="page-header">
            <h1 class="text-center">{{t "templates.user.ForgottenPasswordTemplate.forgottenPasswordQuestion"}}</h1>
        </div>

        <form id="forgotPassword" class="form-horizontal" action="" method="post" onsubmit="return false">
            <div id="step1">
                <div class="form-group">
                    <span class="help-block col-sm-offset-3 col-sm-6">{{t "templates.user.ForgottenPasswordTemplate.enterLogin"}}</span>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-3 control-label" for="username">{{t "common.user.username"}}</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="username" name="username" value="" data-validator="required" data-validator-event="keyup change" required autofocus/>
                        <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input id="continue" type="submit" value="{{t "common.form.submit"}}" disabled="true" class="btn btn-primary" />
                        <input id="cancel" type="button" value="{{t "common.form.cancel"}}" class="btn btn-default"/>
                    </div>
                </div>
            </div>

            <div id="emailSent" style="display:none" class="col-sm-offset-2 col-sm-8">
                <span class="help-block">
                    <p>{{t "templates.user.ForgottenPasswordTemplate.emailSent"}}</p>
                    <a title='{{t "templates.user.RestLogoutTemplate.returnToLogin"}}' href="#login/" id="gotoLogin">{{t "templates.user.RestLogoutTemplate.returnToLogin"}}</a>
                </span>
            </div>

        </form>
    {{else}}
        <div class="page-header clearfix">
            <h1 class="text-center">{{t "templates.user.ForgottenPasswordTemplate.changeForgottenPassword"}}</h1>
        </div>

        <form id="passwordChange" class="form-horizontal" action="" method="post" onsubmit="return false" autocomplete="off">
            <div id="step2">

                <div class="clearfix">
                    <p class="help-block col-sm-offset-3 col-sm-6">{{t "templates.user.ChangeSecurityDataDialogTemplate.enterNewPasswordToChange"}}</p>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-3 control-label" for="password">{{t "common.user.newPassword"}}</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" id="password" name="password" value="" data-validation-dependents="passwordConfirm" data-validator="minLength" minLength="8" pattern=".{8,}" data-validator-event="keyup change" required autofocus />
                        <div class="validation-message"></div>
                        <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    </div>
                 </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-3 control-label" for="passwordConfirm">{{t "common.user.confirmPassword"}}</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm"  data-validator="passwordConfirm" data-validator-event="keyup change" required/>
                        <div class="validation-message"></div>
                        <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" id="changePasswordButton" value="{{t "common.form.submit"}}" class="btn btn-primary" disabled="true" />
                        <input type="button" id="cancel" value="{{t "common.form.cancel"}}" class="btn btn-default"/>
                    </div>
                </div>
            </div>

            <div id="passwordChangeSuccess" style="display:none" >
                <span class="help-block text-center">
                    <p>{{t "config.messages.UserMessages.changedPassword"}}, <a title='{{t "templates.user.RestLogoutTemplate.returnToLogin"}}' href="#login/" id="gotoLogin">{{t "templates.user.ForgottenPasswordTemplate.proceedToLogin"}}</a></p>
                </span>
            </div>

        </form>
    {{/if}}
</div>
