<div id="myApplications" class="panel panel-default panel-collapse">
    <div class="panel-heading" role="tab" id="myAppsCollapseHeading">
        <h4 class="panel-title collapse-title">
            <a data-toggle="collapse" href="#myAppsCollapse" aria-expanded="true" aria-controls="myAppsCollapseHeading" class="">{{t "openam.apps.header"}}</a>
        </h4>
    </div>
    <div id="myAppsCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="myAppsCollapse" aria-expanded="true">
        <div class="panel-body">
            <ul id="myApplicationsList" class="list-group">
                {{#if apps}}
                    {{#each apps}}
                <li id="myApplication_{{@index}}" class="list-group-item"><a href="{{dashboardLogin}}"><span class="appImage"><img src="{{dashboardIcon}}"></span>{{dashboardName}}</a></li>
                    {{/each}}
                {{else}}
                {{t "openam.apps.noneFound"}}
                {{/if}}
            </ul>
        </div>
    </div>
</div>
