<div class="container">

    <div class="page-header">
        <h1 class="text-center">{{t "templates.user.UserRegistrationTemplate.registerYourAccount"}}</h1>
    </div>

    {{#if isStageOne}}
    <form id="stageOne" class="form-horizontal">

        <div id="step1">

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="mail">{{t "common.user.emailAddress"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="email" id="mail" name="mail" value="" autofocus data-validator="required" required data-validator-event="keyup change"/>
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input class="btn btn-primary" type="submit" name="submit" id="continue" value="{{t "common.form.submit"}}" disabled="true" />
                    <input class="btn btn-default" type="button" name="cancel" id="cancel" value="{{t "common.form.cancel"}}" />
                </div>
            </div>

        </div>

        <div id="step2" style="display:none" class="col-sm-offset-2 col-sm-8">
            <span class="help-block">
                <p>{{t "templates.user.UserRegistrationTemplate.emailSent"}}</p>
                <a title='{{t "templates.user.RestLogoutTemplate.returnToLogin"}}' href="#login/" id="gotoLogin">{{t "templates.user.RestLogoutTemplate.returnToLogin"}}</a>
            </span>
        </div>

    </form>

    {{else}}
    <form id="stageTwo" class="form-horizontal" onsubmit="return false" autocomplete="off">

        <fieldset id="step3">

            {{#if urlParams.email}}
            <div class="form-group">
                <label class="col-sm-3 control-label" for="mail">{{t "common.user.emailAddress"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="email" id="mail" name="mail" value="{{urlParams.email}}" readonly />
                </div>
            </div>
            {{/if}}

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="username">{{t "common.user.username"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="username" name="username" value="" autofocus data-validator="required" required data-validator-event="keyup change"/>
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="givenName">{{t "common.user.givenName"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="givenName" name="givenName" value="" >
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="sn">{{t "common.user.familyName"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="sn" name="sn" value=""  data-validator="required" required data-validator-event="keyup change">
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="telephoneNumber">{{t "common.user.phoneNumber"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="tel" id="telephoneNumber" name="telephoneNumber" value="" >
                    <div class="validation-message"></div>
                    <span class="form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="password">{{t "common.user.password"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" id="password" name="password" value="" data-validator-event="keyup change" required data-validator="minLength" data-validation-dependents="passwordConfirm" minlength="8"  />
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="passwordConfirm">{{t "common.user.confirmPassword"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm" value="" data-validator-event="keyup change" data-validator="passwordConfirm"  required/>
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input class="btn btn-primary" type="submit" name="submit" id="submit" value="{{t "common.form.submit"}}" disabled="true" />
                    <input class="btn btn-default" type="button" name="cancel" id="cancel"  class="button cancelButton" value="{{t "common.form.cancel"}}" />
                </div>
            </div>

        </fieldset>

        <div class="col-sm-offset-2 col-sm-8" id="step4" style="display:none">
            <span class="help-block">
                <p>{{t "config.messages.UserMessages.afterRegistration"}}</p>
                <a title='{{t "templates.user.RestLogoutTemplate.returnToLogin"}}' href="#login/" id="gotoLogin">{{t "templates.user.RestLogoutTemplate.returnToLogin"}}</a>
            </span>
        </div>

    </form>
    {{/if}}
</div>
