<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>{{t 'common.form.name'}}</th>
                <th>{{t 'common.form.type'}}</th>
                <th class="fr-col-btn-1"></th>
            </tr>
        </thead>
        <tbody>
            {{#each instances}}
                <tr data-subschema-id="{{_id}}" data-subschema-type="{{_type._id}}">
                    <td class="wordwrap">
                        <a href="{{routeTo 'globalServiceSubSubSchemaEdit' ../serviceType ../subSchemaType ../subSchemaInstanceId _type._id _id}}"
                            title="{{t 'common.form.edit'}}">{{_id}}</a>
                    </td>
                    <td class="wordwrap">{{_type.name}}</td>
                    <td class="fr-col-btn-1">
                        <div class="btn-group">
                            <a class="btn btn-link"
                                href="{{routeTo 'globalServiceSubSubSchemaEdit' ../serviceType ../subSchemaType ../subSchemaInstanceId _type._id _id}}"
                                title="{{t 'common.form.edit'}}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
