<!--
   DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

   Copyright (c) 2007 Sun Microsystems Inc. All Rights Reserved

   The contents of this file are subject to the terms
   of the Common Development and Distribution License
   (the License). You may not use this file except in
   compliance with the License.

   You can obtain a copy of the License at
   https://opensso.dev.java.net/public/CDDLv1.0.html or
   opensso/legal/CDDLv1.0.txt
   See the License for the specific language governing
   permission and limitations under the License.

   When distributing Covered Code, include this CDDL
   Header Notice in each file and include the License file
   at opensso/legal/CDDLv1.0.txt.
   If applicable, add the following below the CDDL Header,
   with the fields enclosed by brackets [] replaced by
   your own identifying information:
   "Portions Copyrighted [year] [name of copyright owner]"

   $Id: README.config,v 1.1 2008/08/29 21:25:17 arunav Exp $

   Portions Copyright 2013 ForgeRock AS

-->

=================
README.config
=================

This README contains instructions on how to automatically setup  
OpenSSO WSS providers and JSR 196 HTTP Provider on SUN Application Server 9.1 (Glassfish V2).
It configures the OpenSSO WSS providers, JSR 196 HTTP Providers and creates the 
required agent profiles in OpenSSO server to run the StockQuote samples

This document assumes that users have already done the steps I and II mentioned in 
README.glassfish

Follow the steps below to secure the web services using OpenAM WSS providers.

I. This automation requires the password file for glassfish server administration.

II. Modify <unzip_dir_of_openamwssproviders.zip>/config/ProviderConfig.properties as follows:

# OpenAM Server Information
# Protocol can be either http or https
server_protocol=OpenAMserver_protocol
server_host=OpenAMserver_host
server_port=OpenAMserver_port
deploy_uri=OpenAMserver_deploy_uri

# Application username and password
appuser=amadmin
appuserpassword=amadmin_password

# Glassfish home
glassfish_home=glassfish home
glassfish_host=glassfish host
glassfish_admin_port=glassfish admin port
glassfish_pwd_file=location of password file

III. Run "ant -f build.xml" in the current directory(<unzip_dir_of_openamwssproviders.zip>/config).
This will configure the providers and creates the WSP and WSC profiles required for the execution of 
StockQuoteClient samples
 
V. Restart the SUN Application Server (Glassfish).

VI. Now build and deploy the StockService and StockQuoteClient.

   1. cd to <unizip_dir_of_openamwssproviders.zip>/samples/glassfish

   2. Make sure that JAVA_HOME is set to JDK1.5 installation and similarly
      make sure java and javac are in the PATH you are executing it.

   3. Use "ant" from <ApplicationServer-install>/lib/ant/bin/ant

   4. cd StockQuoteClient and run "ant -f build.xml". This will build
      and deploy the StockQuoteClient onto glassfish container.

   5. cd StockService and run "ant -f build.xml". This will build
      and deploy the StockService onto glassfish container.
   
   6. Now Access the StockQuoteClient at <PROTOCOL>://<GLASSFISH_HOST>:<PORT>/StockQuoteClient
and enter the desired stock symbol.
   7. If successful, this will display the stock values.


