{{#if newScript}}
    <p>{{t "console.scripts.edit.dialog.helper"}}</p>
{{else}}
    <div class="alert" role="alert">
        <div class="media">
            <div class="media-left" href="#"><i class="fa fa-exclamation-circle"></i></div>
            <div class="media-body">{{t "console.scripts.edit.dialog.warning"}}</div>
        </div>
    </div>
{{/if}}

{{#each contexts}}
<div class="radio">
    <label>
        <input type="radio" name="changeContext" id="{{_id}}" value="{{_id}}"
        {{#if ../newScript}}
            {{#equals ../../defaultContext _id}} checked {{/equals}}
        {{else}}
            {{#equals ../../entity.context _id}} checked {{/equals}}
        {{/if}}
        >
        {{name}}
    </label>
</div>
{{/each}}