/*
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions copyright [year] [name of copyright owner]".
 *
 * Copyright 2015 ForgeRock AS.
 */


.back-bar {
    border-bottom: 1px solid #ddd;
    background-color: #EAEAEA;

    .breadcrumb {
        background-color: transparent;
        padding:  10px 0 10px;
        margin-bottom: 0;

        a {
            color: #666;
        }

        &>li+li.back-button:before {
            content: " ";
        }

        &>.active {
            color: #8E8E8E;
        }
    }
}

.console-tabs {

    .nav-tabs>li>a {
        color: #777;
        padding: 10px 20px;
        font-weight: 600;
    }

    .tab-menu {
        margin-bottom: -1px;
    }

    .tab-content {
        background-color: #fff;
        border: 1px solid #ddd;
        margin-bottom: 50px;
    }

    .tab-pane-footer{
        padding:25px;
    }

    .panel-body {
        padding: 30px 30px 20px 30px;
    }

    .panel-description {
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 10px;
    }
}

.panel-body {
    padding: 15px;
}
