/**
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 2014-2015 ForgeRock AS.
 *
 * The contents of this file are subject to the terms of the Common Development and Distribution License (the License).
 * You may not use this file except in compliance with the License.
 *
 * You can obtain a copy of the License at http://forgerock.org/license/CDDLv1.0.html. See the License for the specific
 * language governing permission and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL Header Notice in each file and include the License file at
 * http://forgerock.org/license/CDDLv1.0.html. If applicable, add the following below the CDDL Header, with the fields
 * enclosed by brackets [] replaced by your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 */

 .page-header {

     margin: 40px 0 20px;
     border-bottom:none;

     h4.page-type {
         text-transform: uppercase;
         font-size: 13px;
         letter-spacing: 1px;
         margin-bottom: 5px;
         color: #666;
         font-weight: 600;
         margin-top: 3px;
     }

     .header-icon {
         display: table;
         background: #519387;
         color: #fff;
         text-align: center;
         width: 64px;
         height: 64px;
         border-radius: 32px;
         line-height: 64px;
         font-size: 32px;
         margin: -2px 10px 0 0;
         overflow: hidden;
     }

     .fa-question-circle{
         font-size: 15px;
         vertical-align: top;
         color:grey;
     }
 }


.remember-forgot{
    padding: 0 0 0;
    .pull-right, .pull-left, .checkbox {
        margin-top: 0;
    }
}

#login-base {
    .page-header {
        h1 {
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }

    .btn-group-justified {
        padding-top: 5px;
    }

    .btn-block+.btn-block {
        margin-top: 15px;
    }

    label.choice-callback{
        padding-right: 10px;
        font-weight: normal;
    }

     .btn-default.active {
        cursor:auto;
    }
}

#dialogs .validationRules{
    margin-left: 0;
}

.modal-dialog .modal-body .page-header {
    margin: 0 0 20px;
}

.transition(@property: all, @duration:.5s, @easing:ease, @delay:0s){
    -webkit-transition: @arguments;
       -moz-transition: @arguments;
        -ms-transition: @arguments;
         -o-transition: @arguments;
            transition: @arguments;
}

// json-editor
div[data-schemaid] {
    > h3 {
        display: none;
    }

    .well {
        background: none;
        border: none;
        box-shadow: none;
    }

    .help-block {
      max-height: 10em;
      text-overflow: ellipsis;
      transition: max-height 0.5s;
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 10px;
    }

    .help-block:hover {
        background-color: #eee;
        cursor: pointer;
    }

    .help-block-collapsed {
        max-height: 1.5em;

        &:before {
            content: "See more"; // TODO: i18n
            float: right;
            color: #519387;
            cursor: pointer;
        }
    }

    .help-block-expanded {
        &:before {
            content: "Hide"; // TODO: i18n
            float: right;
            color: #519387;
            cursor: pointer;
        }
    }
}
