/*
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License). You may not use this file except in
 * compliance with the License.
 *
 * You can obtain a copy of the License at
 * https://opensso.dev.java.net/public/CDDLv1.0.html or
 * opensso/legal/CDDLv1.0.txt
 * See the License for the specific language governing
 * permission and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at opensso/legal/CDDLv1.0.txt.
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 *
 * $Id: style.css,v 1.3 2009/04/24 21:01:56 rparekh Exp $
 *
 * Copyright 2007 Sun Microsystems Inc. All Rights Reserved
 * Portions Copyrighted 2007 Paul C. Bryan
 */

* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

input.text, select {
  border-top: solid 1px #848484;
  border-left: solid 1px #848484;
  border-bottom: solid 1px #ccc;
  border-right:solid 1px #ccc;
}

input.text, select, label, span.required {
  font-size: 0.9em;
}

label, span.required {
  font-weight: bold;
}

table.form {
  margin: 0.25em 0 0.25em 0;
}

td {
  padding: 0 0.75em 0.25em 0;
}

div.product {
  padding: 2em 1em 1.5em 1em;
  margin: 0;
  background-color: #495b67;
}

div.body {
  padding: 1em;
}

input.button {
  margin: 0 0.25em 0 0.2em;
}

input.text {
  padding-left: 0.1em;
}

div.set {
  background-color: #ffffcc;
  -moz-border-radius: 4px;
  border: solid 1px gray;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: 0 0 1em 0;
  clear: both;
}

legend {
  font-weight: bold;
}

span.required {
  color: #aa0000;
}

h1 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.5em 0 1em 0;
}

h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 1em 0 1em 0;
}

img.logo {
  margin-right: 1em;
}

.center {
  text-align: center;
}

