/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright © 2012 ForgeRock Inc. All rights reserved.
 *
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License). You may not use this file except in
 * compliance with the License.
 *
 * You can obtain a copy of the License at
 * http://forgerock.org/license/CDDLv1.0.html
 * See the License for the specific language governing
 * permission and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at http://forgerock.org/license/CDDLv1.0.html
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [2012] [Forgerock AS]"
 */

#outer { position: relative; overflow:hidden; }
#inner { height: 80px; }

/**** Inner content css Login.jsp page IE7 browser ****/
#logininner {top: -50%; position:relative; }

/**** Inner content css PasswordReset.jsp page IE7 browser ****/
#innerPR {top: -60% !Important; position:relative; }

/**** Inner content css PassphraseReset.jsp page IE7 browser ****/
#innerPAR {top: -60% !Important; position:relative; }

/**** Footer css Login.jsp page IE7 browser ****/
#loginfooter {				
	background-image: url(../images/bottom-shadow-narrow.png);
}

#footer {				
	margin-top:-10px;
}

/**** Footer css PasswordReset and PassphraseReset.jsp page IE7 browser ****/
#footerPR {				
	margin-top:5px;
}

.indented a:link{	
	position:relative;
}

/**** Intended CSS for Login.jsp page submit button IE7 browser *****/
.indented3{
	margin-bottom:-100px !Important;	
}

/**** Intended CSS for Login.jsp page ForgotUsername and ForgotPassword IE7 browser *****/
.indented4{			
		margin-left:112px !Important;			
}

/**** Intended CSS for PasswordReset.jsp page username Input field IE7 browser *****/
.indentedPR1 {	
	float:left;	
	width:130px;
}

/**** Intended CSS for PasswordReset.jsp page password Input field IE7 browser*****/
.indentedPR2 {					
	width:130px;
	float:left;	
	margin-top:-20px !Important;
	margin-left:165px !Important;
}

/**** Intended CSS for PasswordReset.jsp page submit button IE7 browser*****/
.indentedPR3 {	
	float:left;
	margin-top:-28px !Important;
}

/**** Intended CSS for PasswordReset.jsp page ForgotUsername and ForgotPassword IE7 browser*****/
.indentedPR4 {	
	margin-left:112px !Important;
	margin-top:-70px !Important;
}

/**** Intended CSS for PassphraseReset.jsp page username Input field IE7 browser*****/
.indentedPAR1 {	
	float:left;	
	width:130px;
}

/**** Intended CSS for PassphraseReset.jsp page password Input field IE7 browser*****/
.indentedPAR2 {					
	width:130px;
	float:left;	
	margin-top:-20px;
	margin-left:165px !Important;
}

/**** Intended CSS for PassphraseReset.jsp page submit button IE7 browser*****/
.indentedPAR3 {	
	float:left;	
}

/**** Intended CSS for PassphraseReset.jsp page ForgotUsername and ForgotPassword  IE7 browser*****/
.indentedPAR4 {	
	margin-left:112px !Important;
	margin-top:-70px !Important;
}

/**** Intended CSS for Login.jsp page ForgotUsername and ForgotPassword field IE7 browser*****/
.loginindented4{	
		margin-top:-80px !Important;			
}

HR.clear {	
	margin: 16px 0;	
}

/**** Intended CSS for Login.jsp page ForgotUsername and ForgotPassword Anchor Link IE7 browser*****/
.indented4 a:link{
	color: #FFF !important;	
	font-family: arial, sans-serif, verdana, tahoma !important;	
}

HR.loginclear {	
	margin: 16px 0;
	margin-top:-40px;
}

/**** Intended CSS for Login.jsp page ForgotUsername and ForgotPassword Anchor Link IE7 browser*****/
.loginindented4 a:link{
	color: #FFF !important;	
	font-family: arial, sans-serif, verdana, tahoma !important;	
}