document.write("[<a href=\"http://download.forgerock.org/downloads/openam/OpenAM-@BUILD_VERSION@_@ZIPNAME@.zip\">Nightly Build</a>]");
document.write("[<a href=\"http://download.forgerock.org/downloads/openam/OpenAM-@BUILD_VERSION@_@ZIPNAME@.zip.sha\">SHA</a>]");
document.write("[<a href=\"http://download.forgerock.org/downloads/openam/OpenAM-@BUILD_VERSION@_@BUILD_DATE@.war\">WAR</a>]");
document.write("[<a href=\"http://download.forgerock.org/downloads/openam/SSOAdminTools-@BUILD_VERSION@_@BUILD_DATE@.zip\">TOOLS</a>]");
