document.write("[<a href=\"http://download.forgerock.org/downloads/openam/openam-distribution-kit-@ZIPNAME@.zip\">Nightly Build</a>]");
document.write("[<a href=\"http://download.forgerock.org/downloads/openam/openam-distribution-kit-@ZIPNAME@.zip.sha\">SHA</a>]");
document.write("[<a href=\"http://download.forgerock.org/downloads/openam/openam-server-@BUILD_DATE@.war\">WAR</a>]");
document.write("[<a href=\"http://download.forgerock.org/downloads/openam/openam-distribution-ssoAdminTools-@BUILD_DATE@.zip\">TOOLS</a>]");
