<td class="form-group">
    <input class="form-control" type="text" value="{{rowData.key}}"
        placeholder="{{t 'common.form.addName'}}" data-row-key data-validator="required">
</td>

<td class="form-group">
    <input class="form-control" type="text" value="{{rowData.value}}"
        placeholder="{{t 'common.form.addValue'}}" data-row-value data-validator="required">
</td>

<td class="fr-col-btn-2">
    <div class="btn-group">
        <button class="btn btn-link" data-save-row title="{{#if rowData.value}}{{t 'common.form.update'}}{{else}}{{t 'common.form.add'}}{{/if}}"><i class="fa {{#if rowData.value}}fa-check{{else}}fa-plus{{/if}}"></i></button>
        {{#if rowData.value}}
            <button class="btn btn-link" data-undo-edit-row title="{{t 'common.form.cancel'}}"><i class="fa fa-undo"></i></button>
        {{/if}}
    </div>
</td>
