{{#each this}}
	{{#if this}}
        {{#each this}}
            {{#ifObject this}}
                <div>
                    <h3>{{t @key}}</h3>
                    <span>{{stringify this}}</span>
                </div>

                {{else}}
                <div>
                    <h3>{{t @key}}</h3>
                    <span>{{this}}</span>
                </div>
            {{/ifObject}}
        {{/each}}
	{{else}}
		<div>
			<h3>{{t "policy.common.type"}}</h3>
			<span>{{t "policy.conditionTypes.nothingSelected"}}</span>
		</div>
	{{/if}}
{{/each}}






		  	

