<nav id="backlink"></nav>
<div class="container">
    {{> headers/_TitleWithSubAndIcon title=name dynamicTitle="true" type="console.sites.edit.title" icon="bookmark-o" }}

    <div class="panel panel-default">
        <div class="panel-body">
            <div data-json-form></div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a class="btn btn-default" href="{{routeTo 'listSites'}}">{{t "common.form.cancel"}}</a>
                <button data-save class="btn btn-primary" type="button" disabled>{{t "common.form.saveChanges"}}</button>
            </div>
        </div>
    </div>
</div>
