<header class="page-header page-header-no-border clearfix">
    <span id="umaShareImage" class="header-icon pull-left fa" aria-hidden="true">
        {{#if icon}}
            <img title="{{name}}" src="{{icon}}" />
        {{else}}
            <i class="fa fa-share"></i>
        {{/if}}
    </span>

    <div class="pull-left">
        <h4 class="page-type">{{t "uma.resources.show.resource"}}</h4>
        <h1>{{name}}</h1>
    </div>

    <div class="deep-page-header-button-group button-group pull-right">
        <button id="starred" type="button" class="btn btn-link"><i class="fa fa-star-o"></i></button>

        <div class="btn-group">
            <button id="share" type="button" class="btn btn-primary"><i class="fa fa-share"></i> {{t "uma.resources.show.share"}}</button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="disabled" id="unshare"><a href="#" aria-disabled="true" role="button"><i class="fa fa-ban"></i> {{t "uma.resources.show.revoke"}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<p class="page-description">{{t "uma.resources.show.subtitle"}}</p>
<div class="btn-toolbar page-toolbar">
    <div class="btn-group pull-right">
        <button id="saveLabels" disabled class="btn btn-default"><i class="fa fa-check"></i></button>
        <button id="discardLabels" class="btn btn-default"><i class="fa fa-times"></i></button>
    </div>
    <div id="labels">
        <select multiple class="selectize pull-left"></select>
    </div>
    <button id="editLabels" class="btn btn-primary btn-xs"><i class="fa fa-tag"></i> {{t "uma.resources.show.editLabels"}}</button>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-container"></div>
    </div>
</div>
