<div class='container'>
    <div class="page-header page-header-no-border clearfix">
        <span id="umaShareImage" class="header-icon pull-left fa fa-file-image-o">
            {{#if icon}}
            <img title="{{ name }}" src="{{ icon }}" />
            {{else}}
            <i class="fa fa-share"></i>
            {{/if}}
        </span>
        <h4 class="page-type">{{t "uma.resources.show.resource"}}</h4>
        <div div class="page-header-button-group">
            <button id="share" type="button" class="btn btn-primary"><i class="fa fa-share"></i> {{t "uma.resources.show.share"}}</button>
            <button id="revokeAll" type="button" class="btn btn-default" disabled><i class="fa fa-times"></i> {{t "uma.resources.show.revokeAll"}}</button>
        </div>
        <h1>{{ name }}</h1>
    </div>
    <p class="page-description"> {{t "uma.resources.show.subtitle"}}</p>

    <div id="uma">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="backgridContainer" class="backgrid-container backgrid-readonly"></div>
                <div id="paginationContainer"></div>
            </div>
        </div>
    </div>
</div>
