<div class='container'>
    <div class="page-header">
        <span id="umaShareImage" class="header-icon pull-left fa fa-file-image-o">
            {{#if icon}}
            <img title="{{ name }}" src="{{ icon }}" />
            {{else}}
            <i class="fa fa-share-alt"></i>
            {{/if}}
        </span>
        <h4 class="page-type">{{t "uma.resources.show.resource"}}</h4>
        <div class="pull-right">
            <button id="share" type="button" class="btn btn-primary">
                <i class="fa fa-share-alt"></i>
                {{t "uma.resources.show.share"}}
            </button>
            <button id="revokeAll" type="button" class="btn btn-danger" disabled>
                <i class="fa fa-times"></i>
                {{t "uma.resources.show.revokeAll"}}
            </button>
        </div>
        <h1>{{ name }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{t "uma.resources.show.subtitle"}}"></i></h1>
    </div>

    <div id="uma">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="backgridContainer" class="backgrid-container backgrid-readonly"></div>
                <div id="paginationContainer"></div>
            </div>
        </div>
    </div>
</div>
