<div id="menu" class="menubar"></div>
<div class="container">
   <div class="page-header-min">
       <h3><a href="{{ routeTo 'umaResourcesMyResources' }}">{{t 'uma.resources.title'}}</a></h3>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-2">
            <nav class="sidenav" role="navigation">
                <ol class="list-unstyled">
                    <li>
                        <a class="text-primary"
                           data-toggle="collapse"
                           href="{{ routeTo 'umaResourcesMyResources' }}"
                           aria-expanded="true"
                           aria-controls="applications"
                           data-target="#applications">
                            <i class="fa fa-folder"></i>{{t "uma.resources.myresources.title"}}
                        </a>
                        <ol class="collapse in list-unstyled sidenav-submenu" id="applications">
                        {{#each labels.system}}
                            <li><a class="text-primary" href="{{routeTo 'umaResourcesMyResources' 'myresources' _id}}">{{name}}</a></li>
                        {{/each}}
                        </ol>
                    </li>

                    <li><a class="text-primary" href="{{ routeTo 'umaResourcesSharedWithMe' }}"><i class="fa fa-folder"></i>{{t "uma.resources.sharedWithMe.title"}}</a></li>
                    <li><a class="text-primary" href="{{ routeTo 'umaResourcesStarred' }}"><i class="fa fa-star"></i>{{t "uma.resources.starred.title"}}</a></li>

                    <li>
                        <a class="text-primary"
                           data-toggle="collapse"
                           aria-expanded="false"
                           aria-controls="labels"
                           data-target="#labels">
                            <i class="fa fa-tags"></i>{{t "uma.resources.myLabels.title"}}
                        </a>
                        <ol class="collapse in list-unstyled sidenav-submenu" id="labels">
                        {{#each nestedLabels}}
                            {{> templates/uma/views/resource/_NestedList }}
                        {{/each}}
                        </ol>
                    </li>
               </ol>
           </nav>
        </div>
       <div id="uma">
           <div id="sidePageContent" class="col-sm-9 col-md-10"></div>
       </div>
    </div>
</div>
