<div id="menu" class="menubar"></div>
<div class="container">
   <div class="page-header-min">
       <h3><a href="#realms">{{t 'uma.resources.list.title'}}</a></h3>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-2">
            <nav class="sidenav">
                <ol class="list-unstyled">
                    <li>
                        <a data-toggle="collapse"
                           href="{{routeTo 'umaResources' 'myresources'}}"
                           aria-expanded="true"
                           aria-controls="applications"
                           data-target="#applications">
                            <i class="fa fa-folder"></i>My Resources
                        </a>
                        <ol class="collapse in list-unstyled sidenav-submenu" id="applications">
                        {{#each labels.system}}
                            <li><a href="{{routeTo 'umaResources' _id}}">{{name}}</a></li>
                        {{/each}}
                        </ol>
                    </li>

                    <li><a href="{{routeTo 'umaResources' 'sharedwithme'}}"><i class="fa fa-folder"></i>Shared with me</a></li>
                    <li><a href="{{routeTo 'umaResources' 'starred'}}"><i class="fa fa-star"></i>Starred</a></li>

                    <li>
                        <a data-toggle="collapse"
                           aria-expanded="false"
                           aria-controls="labels"
                           data-target="#labels">
                            <i class="fa fa-tags"></i>My Labels
                        </a>
                        <ol class="collapse in list-unstyled sidenav-submenu" id="labels">
                        {{#each nestedLabels}}
                            {{> templates/uma/views/resource/_NestedList }}
                        {{/each}}
                        </ol>
                    </li>
               </ol>
           </nav>
        </div>
       <div id="sidePageContent" class="col-sm-9 col-md-10"></div>
    </div>
</div>
