{{#if label}}
    {{> headers/_TitleWithSubAndIcon title=label.name type="uma.resources.myLabels.title" buttons="templates/uma/views/resource/_DeleteLabelButton" }}
    <p class="page-description">{{label.path}}</p>

    <div class="tab-content clearfix">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-container"></div>
            </div>
        </div>
    </div>
{{else}}
    <div class="alert alert-info" role="alert">
        <strong>{{t "uma.resources.myLabels.noResources.headline"}}</strong> {{t "uma.resources.myLabels.noResources.text"}}
    </div>
{{/if}}
