<header class="page-header page-header-no-border clearfix">
    <span id="umaShareImage" class="header-icon pull-left fa fa-file-image-o">
        {{#if icon}}
            <img title="{{name}}" src="{{icon}}" />
        {{else}}
            <i class="fa fa-share"></i>
        {{/if}}
    </span>

    <div class="pull-left">
        <h4 class="page-type">{{t "uma.resources.show.resource"}}</h4>
        <h1>{{name}}</h1>
    </div>

    <div class="deep-page-header-button-group button-group pull-right">
        <button id="starred" type="button" class="btn btn-default"><i class="fa fa-star-o"></i></button>

        <div class="btn-group">
            <button id="share" type="button" class="btn btn-primary"><i class="fa fa-share"></i> {{t "uma.resources.show.share"}}</button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                      <li id="unshare" class="disabled"><a href="#"><i class="fa fa-ban"></i>{{t "uma.resources.show.revoke"}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<p class="page-description">{{t "uma.resources.show.subtitle"}}</p>
<div class="btn-toolbar page-toolbar labels-container">
    <div class="btn-group pull-right">
        <button id="saveLabels" disabled class="btn btn-default"><i class="fa fa-check"></i></button>
        <button id="discardLabels" class="btn btn-default"><i class="fa fa-times"></i></button>
    </div>
    <select id="labels" multiple class="selectize pull-left"></select>
    <button id="editLabels" class="btn btn-link"><i class="fa fa-pencil"></i></button>
</div>

<div id="uma">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="backgridContainer" class="backgrid-container backgrid-readonly"></div>
            <div id="paginationContainer"></div>
        </div>
    </div>
</div>
