@active-background-color: #EDFCF5;
@table-hightlight-bg-color:#D7E9F8;
@table-rollover-bg-color:#d5d5d5;


.webkit-text-rendering-bugfix{
    -webkit-transform: translateZ(0px);
    -webkit-backface-visibility: hidden;
}

.invalid-background(@bgcolor: #ffd4d4){
    background-color:@bgcolor;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(60, 60, 60, 0.1) 35px, rgba(60, 60, 60, 0.1) 70px);
    .webkit-text-rendering-bugfix;
}

// Accordion
.accordion {
    margin: 15px 0 0 0;
    background-color: #fff;
    border: 1px solid #BCBEC0;
    border-bottom: none;
    .rounded-corners(5px);

    h1.accordion-header {
        height: 30px;
        line-height: 30px;
        display: block;
        padding: 0 0 0 10px;
        background-color: #d5d5d5;
        color: #666;
        cursor:pointer;
        font-weight:normal;
        font-size:100%;
        border-bottom: 1px solid #bebebe;
        text-decoration: none;

        &.accordion-step-disabled {
            background: #aaa;
            cursor:default;
        }

        &:focus:not(.accordion-step-disabled), &:hover:not(.accordion-step-disabled){
            background-color: #D7E9F8;
        }

        &.step-active:not(.accordion-step-disabled){
            background-color: #5a646d;
            color:white;
            box-shadow:none;
        }

    }

    .accordion-step {
        padding: 20px 15px 15px;
        border-bottom: 1px solid #bebebe;
        display:none;

        & > input.button {
            margin-top: 15px;
            float:right;
        }

        .group-field-block, .group-field-row {
            label {
                width: 180px;
                font-size: inherit;
                font-weight: normal;
                text-align:right;
            }
        }

        &:last-of-type:not(.active-step){
            border-bottom: none;
        }

    }

    .prop-val {
        float: left;
    }

    select.prop-val {
        width: 200px;
    }

    textarea.prop-val, input.prop-val {
        //width: 180px;
    }

    textarea.prop-val {
        max-width:622px;
        min-width:622px;
    }

    textarea, input:not(.button){
        border-radius:0;
    }

    .review-row {
        background: #ebebeb;
        padding: 0 8px;
        clear: both;
        font-size: 13px;
        margin: 0 5px 5px 0;
        border-radius: 3px;
        border:1px solid #bebebe;
        cursor: pointer;
        overflow-x: auto;
        position: relative;

        transition: background 100ms linear;

        [class*="icon-arrow-"], .advanced-empty-msg {
            position: absolute;
            top: 8px;
            right: 8px;
            opacity: 0.5;
        }

        [class*="icon-arrow-"] {
            font-size: 16px;
        }

        .advanced-empty-msg {
            font-size: 12px;
        }

        .advanced-mode {
            margin: 0 0 13px;
        }

        &.invalid {
            .invalid-background;
            .invalid {
                color: red;
            }

            .advanced-empty-msg {
                display: none;
            }

            &:hover {
                background-color: #FFB5B5;
            }
        }

        h2 {
            font-size: 15px;
            line-height: 20px;
            padding: 8px 10px 8px 0;
            clear:both;
        }

        h3 {
            font-size: 13px;
            line-height: 1em;
            margin: 0 0 8px;
        }

        ul, p, pre {
            clear:left;
            padding: 0 0 0 20px;
            display:block;
        }

        p, li {
            font-family: monospace;
            display: block;
            span {
                font-weight:bold;
            }
        }

        pre {
            font-family: monospace;
            line-height: 0.9em;
            display: block;
        }

        &:hover, &:focus{
            background-color: #D7E9F8;
            box-shadow:none;
        }

    }

    #actions {
        .toggle-all {
            margin: 0 8px 0 1px;
        }

        .striped-list {
            width: 380px;

            .highlight {
                background: @table-hightlight-bg-color;
                border-color: rgba(0, 0, 0, 0.2);
                [class*="icon-checkbox-"] {
                    color: darken(@table-hightlight-bg-color, 50%);
                }
            }
        }

        .action-name {
            display: inline-block;
            padding: 0 0 0 8px;
            width: 200px;
        }

        .action-permission {
            margin: 0 8px 0 0;
        }

        [class^="icon-"], [class*="icon-"] {
            font-size: 16px;
            &:not(.toggle-all){
                &:hover, &:focus{
                    box-shadow:none;
                    color: darken(@table-hightlight-bg-color, 50%);
                    cursor:pointer;

                }
            }
        }
    }
}

.ui-jqgrid {
    cursor: pointer;
    margin: 15px 0 0 0;

    .ui-jqgrid-htable .ui-search-toolbar {
        th {
            height: 30px;
            padding: 0;
            vertical-align: top;
        }

        .ui-search-table {
            .ui-search-clear {
                display: none;
            }

            .ui-search-input {
                & > input {
                    height: 26px;
                    margin: 0;
                }
            }
        }
    }

    span.item-button-panel {
        > span {
            font-size: 16px;
            padding: 0 3px;

            &.tooltips {
                .webkit-text-rendering-bugfix;
                &:hover span, &:focus span {
                    margin-left: -40px;
                    width: 70px;
                }
            }
        }
    }

    tr.ui-widget-content {
        background:#fff;
        box-shadow: none;
        td {
            vertical-align: middle;
        }

    }

    th[id*="_cb"] {
        display: none;
    }

    tr.jqgrow {

        td[aria-describedby*="_iconChB"] {
            text-align: center;
            color: #A6A6A6;
            span {
                font-size: 16px;
                background-color: white;
                &:hover, &:focus {
                     color: #777;
                     box-shadow:none;
                }
            }
        }

        td[aria-describedby*="_name"], td[aria-describedby*="_description"] {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        td[aria-describedby*="_actions"] {
            background-color: #d7e9f8;
            overflow: visible;
            white-space: normal;
            text-align: center;
        }

        &.ui-state-hover {
            border-color: rgba(0, 0, 0, 0.2);
            background: @table-rollover-bg-color;
            color: inherit;

            td[aria-describedby*="_actions"] {
                background-color: darken(@table-rollover-bg-color,5%);
            }

        }

       &.ui-state-highlight, &.highlight {
            background: @table-hightlight-bg-color;
            border-color: rgba(0, 0, 0, 0.2);
            color: darken(@table-hightlight-bg-color,50%);

            td[aria-describedby*="_iconChB"] span {
                color: darken(@table-hightlight-bg-color,50%);
                opacity:0.5;
                &:hover, &:focus {
                     opacity:1;
                }
            }

            td[aria-describedby*="_actions"] {
                background-color: darken(@table-hightlight-bg-color,5%);
            }

            span.item-button-panel > span{
                color:darken(@table-hightlight-bg-color,50%);
            }
        }

    }
}

th.ui-state-default.ui-th-column {
    border: 0;
    background: inherit;
}

[id*='gview_'] .frozen-bdiv {
    overflow: visible !important;
    height: auto !important;
}

.ui-multiselect {
    .remove-all, .add-all {
        float: right;
        padding: 7px;
    }
    .count {
        float: left;
        padding: 7px;
    }
    .ui-state-default {
        border: medium none;
        margin-bottom: 1px;
        padding-left: 20px;
        position: relative;
    }
    li span.ui-icon-arrowthick-2-n-s {
        left: 2px;
        position: absolute;
    }
    li a.action {
        position: absolute;
        right: 2px;
        top: 2px;
    }
    div.selected, div.available {
        border: 0 none;
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        width: 240px !important;
    }
    .search {
        width: 130px;
    }
}

span.item-button-panel {

    > span {
        opacity:0.5;
        transition:opacity 200ms linear;

        &.icon-checkmark {
            display:none;
        }

        &:hover, &:focus {
            opacity:1;
            box-shadow: none;
        }

        &.tooltips {
            position: relative;
            display: inline;

            span {
                position: absolute;
                width: 0;
                color: #fff;
                background-color:#000;
                background-image:-webkit-linear-gradient(top, #555, #000);
                text-align: center;
                visibility: hidden;
                border-radius: 3px;
                font-size: 13px;
                padding: 6px 5px 10px;
                box-shadow: 0px 1px 3px #666;
                bottom: 25px;
                transition:bottom 200ms ease-out, opacity 500ms ease-in;

                &:after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -8px;
                    width: 0; height: 0;
                    border-top: 8px solid #000;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                }
            }

            &:hover span, &:focus span {
                visibility: visible;
                opacity: 0.8;
                bottom: 30px;
                left: 50%;
                z-index: 999;
            }
        }
    }
}

#patterns .striped-list {

    li {

         &:hover, &:focus:not(.created-items){

            cursor:pointer;

            .icon-arrow-right{
                opacity:1;
                color:#80b7ab;
                padding-right: 0;
            }
        }

        .icon-arrow-right{
            opacity:0;
            transition: all 300ms ease-in-out;
            color:#555
        }

        .icon-arrow-right{
            padding-right: 10px;
        }

    }


}


.striped-list {

  border: 1px solid #ccc;
  border-bottom:none;
  border-radius: 3px 3px 3px 3px;
  margin:0 10px 0 0;


  h3 {
    font-size: 14px;
    background:#5a646d;
    color:#fff;
    padding-left:8px;
    border-radius: 3px 3px 0 0px;
    font-weight:normal;
  }

  li {
    padding:8px;
    border-bottom: 1px solid #ccc;
    &:nth-child(odd){  background-color:#eee; }
    &:nth-child(even){ background-color:#fff; }

    .icon-close, .icon-arrow-right, .icon-plus{
        opacity:0;
        transition: all 300ms ease-in-out;
        color: #555;
        display: block;
    }

    .icon-arrow-right{
        padding-right: 10px;
    }

    .key{
        font-weight: bold;
        padding-right: 4px;
    }

  }

  &.created-items {
    border: none;
    border-top:1px solid #ccc;

      &#createdResources {
          li.editing, li.editing:hover {
              min-height: 36px;
              line-height: 36px;
              input {
                  width: 27px;
                  min-width: 27px;
                  max-width: 300px;
                  transition: width 0.25s ease-out;
              }
          }
      }

      &#attrTypeStatic{
          li.editing input {
              width: 176px;
          }
      }

     li {
        border: 1px solid #ccc;
        border-top:none;
        transition: background 1s linear;
        word-wrap: break-word;
        word-break: break-all;

        &.highlight-info {
            background:#ffc;
            transition: background 0.2s linear;
        }

        &.highlight-warning {
            background:#fcc;
            transition: background 0.2s linear;
        }

        &.highlight-good {
            background:#CCFFDE;
            transition: background 0.2s linear;
        }

        .icon-plus {
            opacity:0.6;
            padding-top: 8px;

            &:focus, &:hover{
                box-shadow:none;
                opacity:1;
                color:#80b7ab;
            }
        }

        .icon-close {
            opacity:0.4;
            &:focus, &:hover{
                box-shadow:none;
                opacity:1;
                color:#DB8383;
            }
        }

        &.editing {
            background-color:#eee;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
            margin-top: 20px;
            border: 1px solid #ccc;
            border-radius: 3px;
            transition: background-color 200ms linear;

            input {
                margin: 3px 5px;
                padding: 5px 0 5px 5px;
                border-radius: 0;
            }
        }

        &.invalid {
            .invalid-background;
            transition: background-color 200ms linear;

            .icon-plus {

                &:focus, &:hover{
                    opacity:0.6;
                    color:#555;
                    cursor:default;
                }
            }

            input[type="text"]:invalid:required {
                background:white;
            }
        }
    }
  }
}
input[type="text"]:invalid:required{
    .invalid-background;
    transition: background-color 200ms linear;
}


.ui-state-default .ui-element .dragged{
    margin-top:-300px;
}

.global-actions {
    margin: 20px 0 0 -5px;
}

.content-bg {

    padding: 20px 10px;

    .policy-content {
        margin: 0 10px;
    }

    .policy-header {
        padding:0 0 30px;
        margin: 0 10px;
        h1 {
            padding:0 0 10px;
            span{
                font-weight:normal;
                color: #80b7ab;
            }
        }

        h2 {
            font-weight: normal;
            line-height: 18px;
            font-style: italic;
            font-size: 12px;

            span{
                font-weight:normal;
                color: #999;
            }
        }
    }
}



.selectize-control.multi .selectize-input {

    padding: 6px 5px 2px 5px;
    margin: 5px 0 0 0;
    border-radius: 0;
    border-top-color: #b7b7b7;
    border-left-color: #b7b7b7;

    &.has-items{
        padding: 3px 15px 0px 3px;
    }

}

.selectize-input > input {
    margin: 0 5px 0 5px !important;
}
html .selectize-dropdown .optgroup-header{
    font-weight:bold;
    color:#80b7ab;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 2px 2px 0;
    padding: 1px 5px 0;
    background: #D7E9F8;
    color: #303030;
    border: 1px solid #d0d0d0;
}

#userAttrs .selectize-control.multi .selectize-input:not(.dropdown-active):not(.has-items):after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-color: #808080 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    content: ' ';
}

/* These are jquery-theme over-rides*/


html body .ui-jqgrid tr.ui-widget-content{
    box-shadow:none;
}

.ui-widget-content {

    border-color: #bbb;

    .ui-state-hover{
        border-color: #5d6871;
        font-weight: normal;
        color: #80b7ab;
        background: #5d6871;
    }

    th.ui-state-hover{
        background: lighten(#5d6871, 10%);
        color: white;
    }
}


/*...*/


span.realm,.content-bg .policy-header h2 span.realm  {
    color: #80b7ab;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: -4px;
    line-height: 10px;
    cursor: default;
    &.toplevel{
        padding: 0 0 0 5px; 
        bottom: -2px;
    }
}


#lastFSlash {
    transition:opacity 300ms linear;
    &.fade{
        opacity:0;
    }
}

/*----- Tabs -----*/
.tabs {
    .tab-links {  
        a {
            padding: 7px 10px 5px;
            display:block;
            border: 1px solid #ddd;
            border-radius: 3px 3px 0 0;  
            font-weight: bold;
            text-decoration: none;
            color:#4c4c4c;
            background:#eee;
            transition:background 200ms ease-in-out;
            margin: 0px 5px;
            float: left;
            position: relative;
            top:1px;
            border-bottom:none;
            border-bottom: 1px solid #ddd;
            margin-top: 3px;
            padding-bottom: 3px;

            &:hover {
                background:#fff;
            }
      
        }



        .active-tab {
            a, a:hover {
                background:#fff;
                border-bottom:transparent;
                margin-top: 0;
                padding-bottom: 7px;
                cursor: default;
                
            }
        }
    }

    .tab-content {
        border-radius: 3px;
        background: #fff;
        padding: 0 10px 10px;
        border: 1px solid #ddd;
       

        .inactive-tab {
           height: 0;
           overflow: hidden;
           position:absolute;
           top:-1000px;
           left:-1000px;
        }

        p {
            padding:15px 5px 0 5px;
        }
    }
}




