@active-background-color: #EDFCF5;

.filter-sort-grid {
    position: relative;
    .rounded-corners(5px);

    td, th {
        text-align: left;
        padding: 5px 10px;
    }

    th:first-child, td:first-child {
        width: 12px;
    }

    input[type='text'], select, input.button {
        padding: 2px 5px;
    }

    .nested-row {
        & > td {
            background-color: #eee;
        }

        .filter-sort-grid {
            width: 100%;
        }
    }

    tbody tr:hover{
        background-color:@active-background-color;
    }

    // Header
    .header-titles {
        th, td {
            background-color: #5a646d;
            border: 1px solid #5a646d;

            &:first-child {
                border-radius: 5px 0 0 0;
            }

            &:last-child {
                border-radius: 0 5px 0 0;
            }
        }

        a {
            white-space: nowrap;
        }
    }

    .header-filter {
        background-color: #eee;
        border-bottom: 1px solid #ccc;

        input, select {
            width: 90%;
        }

    }

    .header-actions {
        th {
            text-align: right;
            padding-right: 0;
        }

        .customize-view-flyout {
            display: none;
            z-index: 1;

            position: absolute;
            top: 40px;
            right: 10px;

            width: 300px;
            padding: 15px;
            border: 1px solid #5a646d;
            .rounded-corners(5px);

            text-align: left;
            background: #f9f9f9;
            color: @font-color;
            .customize-item {
                float: left;
                width: 150px;
                margin: 0 0 5px 0;

                label {
                    display: inline;
                }
            }

            .button.apply-customization {
                display: block;
                clear: left;
            }
        }
    }

    // Body
    tbody {
        background-color: #fff;

        td {
            border-bottom: 1px solid #ccc;
        }
    }

    // Footer
    tfoot {
        color: #fff;

        td {
            background-color: #5a646d;
            border: 1px solid #5a646d;

            &:first-child {
                border-radius: 0 0 0 5px;
            }

            &:last-child {
                border-radius: 0 0 5px 0;
            }
        }

        .footer-pagination td {
            text-align: center;
            height: 30px;
            padding: 2px;
            border-radius: 0 0 5px 5px;

            .items-per-page {
                position: absolute;
                left: 10px;
                bottom: 5px;

                input {
                    width: 20px;
                    text-align: center;
                }
            }

            .pagination-controls {
                line-height: 30px;
            }
        }
    }
}

// Accordion
.accordion {
    background-color: #fff;
    border: 1px solid #BCBEC0;
    border-bottom: none;
    overflow: hidden;
    .rounded-corners(5px);

    .accordion-header {
        height: 30px;
        line-height: 30px;
        display: block;
        padding: 0 0 0 10px;
        background-color: #d5d5d5;
        color: #666;

        border-bottom: 1px solid #bebebe;
        text-decoration: none;

        &.accordion-step-disabled {
            background: #aaa;
            cursor:default;
        }

        &:focus:not(.accordion-step-disabled), &:hover:not(.accordion-step-disabled), &.step-active:not(.accordion-step-disabled){
            background-color: darken(@active-background-color, 5%);
            box-shadow:none;
        }
    }

    .accordion-step {
        padding: 20px 15px 15px;
        border-bottom: 1px solid #bebebe;

        & > input.button {
            margin-top: 15px;
            float:right;
        }

        .group-field-block, .group-field-row {
            label {
                width: 180px;
                padding: 0;
                font-size: inherit;
                font-weight: normal;
            }
        }

        &:last-of-type:not(.active-step){
            border-bottom: none;
        }
    }

    .group-field-block {
        margin: 15px 0;

        input {
            margin: 2px 5px 0 0;
        }

        .resource-pattern {
            input {
                width: 180px;
                float: none;
            }
        }

        .controls-group {
            float: left;
            width: 200px;
            margin-left: 20px;

            input {
                clear: left;
            }
        }
    }

    .prop-val {
        float: left;
    }

    select.prop-val {
        width: 200px;
    }

    textarea.prop-val, input.prop-val {
        width: 180px;
    }

    textarea.prop-val {
        resize: none;
    }

    .prop-description {
        float: left;
        margin: 0 0 0 30px;
        width: 300px;
    }

    .review-row {

        background: #ebebeb;
        padding: 0 8px 13px;
        clear: both;
        font-size: 13px;
        margin: 0 5px 5px 0;
        border-radius: 3px;
        border:1px solid #bebebe;
        cursor:pointer;

        h2 {
            float: left;
            font-size: 15px;
            line-height: 20px;
            padding: 8px 10px 8px 0;
        }

        ul, p, pre {
            clear:left;
            padding: 0 0 0 20px;
            display:block;
        }

        p, li {
            font-family: monospace;
            display: block;
        }

        pre {
            font-family: monospace;
            line-height: 0.9em;
            display: block;
            float: left;
        }

        .icon-pencil{
            float:right;
            opacity:0;
            padding:8px 0 0 0;
            transition:opacity 200ms linear;
        }

        &:hover, &:focus{
            background: @active-background-color;
            box-shadow:none;
            .icon-pencil{
                opacity:0.5;
            }
        }

    }

    .resources-grid, .actions-grid {
        width: 430px;
    }

    .resource-exceptions {
        float: right;
    }

    .actions-grid {
        .group-field-row {
            margin: 0;
            label {
                padding: 0 5px;
                width: auto;
            }
        }
        th:last-child {
            width: 130px;
        }
    }
}

#manageApps .filter-sort-grid, #managePolicies .manage-policies{
    width: 100%;
    margin: 20px 0 0 0;

    .ellipsis-col {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .policy-col {
        width: 50px;
    }

    .realm-col {
        max-width: 60px;
    }

    .type-col {
        max-width: 150px;
    }

    .name-col, .resources-col, .lastModBy-col {
        max-width: 200px;
    }
}

#cancelButton, #backButton {
    margin: 0 15px 15px;
}
#backToApps {
    margin-right: 10px;
}
