<div class="container">

    {{#if error}}
    <div class="alert alert-warning col-md-6 col-md-offset-3" role="alert">
        <strong>
        {{#if error.uri}}
            <a href="{{error.uri}}">{{error.message}}</a>
        {{else}}
            {{error.message}}
        {{/if}}
        </strong>
        {{#if error.description}}
            {{error.description}}
        {{/if}}
    </div>
    {{else}}

    <div class="page-header col-md-6 col-md-offset-3">
        <h1 class="text-center">{{oauth2Data.displayName}}</h1>
        {{#if oauth2Data.displayDescription}}
        <p class="text-center"><em>{{oauth2Data.displayDescription}}</em></p>
        {{/if}}
    </div>

    <form action="{{oauth2Data.formTarget}}" method="post" class="form col-md-6 col-md-offset-3" autocomplete="off">

        <fieldset>
            <p>{{t 'form.description'}}</p>
            <div class="panel-group form-horizontal"  aria-multiselectable="true">

                {{#each oauth2Data.displayScopes}}
                <div class="panel panel-default">
                    {{#if this.values}}
                    <div class="panel-heading am-panel-heading-hover" data-toggle="collapse"
                         href="#oauth2Scope{{@index}}" aria-expanded="false" aria-controls="oauth2Scope{{@index}}">
                        {{this.name}}
                        <div class="pull-right"><i class="fa fa-angle-down"></i></div>
                    </div>
                    <div id="oauth2Scope{{@index}}" class="panel-collapse collapse" role="tabpanel"  aria-expanded="false">
                        <div class="panel-body">
                            {{#if this.values.length}}
                                <small>{{this.values}}</small><br/>
                            {{else}}
                                {{#each this.values}}
                                    <small><strong>{{@key}}:</strong> {{this}}</small><br/>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                    {{else}}
                    <div class="panel-heading">{{this.name}}</div>
                    {{/if}}
                </div>
                {{/each}}

                {{#each oauth2Data.displayClaims}}
                <div class="panel panel-default">
                    {{#if this.values}}
                    <div class="panel-heading am-panel-heading-hover" role="tab" data-toggle="collapse"
                         href="#oauth2Claims{{@index}}" aria-expanded="false" aria-controls="oauth2Claims{{@index}}">
                        {{this.name}}
                        <div class="pull-right"><i class="fa fa-angle-down"></i></div>
                    </div>
                    <div id="oauth2Claims{{@index}}" class="panel-collapse collapse" role="tabpanel"  aria-expanded="false">
                        <div class="panel-body">
                            {{#if this.values.length}}
                            <small>{{this.values}}</small><br/>
                            {{else}}
                            {{#each this.values}}
                            <small><strong>{{@key}}:</strong> {{this}}</small><br/>
                            {{/each}}
                            {{/if}}
                        </div>
                    </div>
                    {{else}}
                    <div class="panel-heading">{{this.name}}</div>
                    {{/if}}
                </div>
                {{/each}}
            </div>

            {{#if oauth2Data.userName}}
            <p>{{t 'form.signedInAs'}} {{oauth2Data.userName}}</p>
            {{/if}}

            <!-- Optional parameters -->
            {{#if oauth2Data.realm}}
            <input type="hidden" name="realm" value="{{oauth2Data.realm}}"/>
            {{/if}}
            {{#if oauth2Data.redirectUri}}
            <input type="hidden" name="redirect_uri" value="{{oauth2Data.redirectUri}}"/>
            {{/if}}
            {{#if oauth2Data.scope}}
            <input type="hidden" name="scope" value="{{oauth2Data.scope}}"/>
            {{/if}}
            {{#if oauth2Data.state}}
            <input type="hidden" name="state" value="{{oauth2Data.state}}"/>
            {{/if}}
            {{#if oauth2Data.nonce}}
            <input type="hidden" name="nonce" value="{{oauth2Data.nonce}}"/>
            {{/if}}
            {{#if oauth2Data.acr}}
            <input type="hidden" name="acr" value="{{oauth2Data.acr}}"/>
            {{/if}}

            <!-- Required parameters -->
            <input type="hidden" name="response_type" value="{{oauth2Data.responseType}}"/>
            <input type="hidden" name="client_id" value="{{oauth2Data.clientId}}"/>

            <div class="form-group clearfix">
                <div class="pull-right">
                    <input type="submit" name="decision" class="btn btn-default" value="{{t 'form.deny'}}"/>
                    <input type="submit" name="decision" class="btn btn-primary" value="{{t 'form.allow'}}"/>
                </div>

                <div class="pull-left checkbox">
                    <label><input type="checkbox" name="save_consent"/>{{t 'form.save'}}</label>
                </div>
            </div>

        </fieldset>
    </form>

    {{/if}}
</div>
