<a href="#app/" class="btn btn-primary" id="addNewApp">
    <span class="fa fa-plus"></span> {{t "policy.manageApplications.add"}}
</a>
<a href="#" class="btn btn-danger {{#unless apps.selected}} disabled {{/unless}}" id="deleteApps">
    <span class="fa fa-close"></span> {{t "policy.common.buttons.deleteSelected"}}{{#if apps.selected}} ({{apps.selected}}) {{/if}}
</a>
<a href="#" class="btn btn-primary pull-right" id="importPolicies">
    <span class="fa fa-upload"></span> {{t "policy.manageApplications.importPolicies"}}
</a>
<a href="#" class="btn btn-primary pull-right" id="exportPolicies">
    <span class="fa fa-download"></span> {{t "policy.manageApplications.exportPolicies"}}
</a>
<input type="file" id="realImport" class="hidden"/>
