<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-4">{{t "openam.authDevices.deviceDetailsDialog.deviceName"}}</label>
        <div class="col-sm-7">
            <input type="text" class="form-control input-btn" value="{{deviceName}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">{{t "openam.authDevices.deviceDetailsDialog.recoveryCodes"}}</label>
        <div class="col-sm-7">
            <pre class="text-center">{{#each recoveryCodes}}{{this}}<br>{{/each}}</pre>
            <span>{{t "openam.authDevices.deviceDetailsDialog.copyRecoveryCodes"}}</span>
        </div>
    </div>
</form>
