<div class="container-shadow" id="forgottenPassword">
    {{#if isStageOne}}
        <form id="forgotPassword" action="" class="form" method="post" onsubmit="return false">
            <h1>{{t "templates.user.ForgottenPasswordTemplate.forgottenPasswordQuestion"}}</h1>

            <div id="step1">
                <fieldset>
                    <p>{{t "templates.user.ForgottenPasswordTemplate.enterLogin"}}</p>
                    <div class="group-field-row group-field-short">
                        <label for="username">{{t "common.user.username"}}</label>
                        <input type="text" id="username" name="username" value="" data-validator="required" data-validator-event="keyup change" required autofocus />
                        <span class="error">x</span>
                    </div>

                    <div class="group-actions-block float-right">
                        <input type="submit" id="continue" value="{{t "common.form.submit"}}" disabled="true" class="button" />
                        <input type="button" value="{{t "common.form.cancel"}}" class="button cancelButton"/>
                    </div>

                </fieldset>
            </div>

            <div id="emailSent" style="display:none;">
                <p>{{t "templates.user.ForgottenPasswordTemplate.emailSent"}}</p>
            </div>

        </form>
    {{else}}
        <form id="passwordChange" action="" class="form" method="post" onsubmit="return false" autocomplete="off">
            <h1>{{t "templates.user.ForgottenPasswordTemplate.changeForgottenPassword"}}</h1>

            <div id="step2">
                <p>{{t "templates.user.ChangeSecurityDataDialogTemplate.enterNewPasswordToChange"}}</p>
                <fieldset>

                    <div class="group-field-row">
                        <label for="password">{{t "common.user.newPassword"}}</label>
                        <div class="group-input-span">
                            <input type="password" id="password" name="password" value="" data-validation-dependents="passwordConfirm" data-validator="minLength" minLength="8" pattern=".{8,}" data-validator-event="keyup change" required autofocus />
                            <div class="field-rule">
                                <span class="error">x</span> 
                                <span data-for-validator="minLength">{{t "common.form.validation.atLeast8Characters"}}</span>
                            </div>
                        </div>

                     </div> 
             
                    <div class="group-field-row">
                        <label for="passwordConfirm">{{t "common.user.confirmPassword"}}</label>
                        <div class="group-input-span">
                            <input type="password" id="passwordConfirm" name="passwordConfirm"  data-validator="passwordConfirm" data-validator-event="keyup change" required/>
                            <div class="field-rule">
                                <span class="error">x</span> 
                                <span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
                            </div>
                        </div>

                    </div>
                     
                    <div class="group-actions-block float-right"> 
                        <input type="submit" id="changePasswordButton" value="{{t "common.form.submit"}}" class="button" disabled="true" />
                        <input type="button" id="cancel" value="{{t "common.form.cancel"}}" class="button cancelButton"/>
                    </div>
      
                </fieldset>
            </div>
            
            <div id="passwordChangeSuccess" style="display:none">
                <p>{{t "config.messages.UserMessages.changedPassword"}} <a href="#" class="cancelButton">{{t "templates.user.ForgottenPasswordTemplate.proceedToLogin"}}</a></p>
            </div>

        </form>
    {{/if}}
</div>