<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>OpenAM admin console</display-name>
    <distributable/>

    <context-param>
        <param-name>jato:com.sun.identity.console.base.*:moduleURL</param-name>
        <param-value>../base</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.authentication.*:moduleURL</param-name>
        <param-value>../authentication</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.service.*:moduleURL</param-name>
        <param-value>../service</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.session.*:moduleURL</param-name>
        <param-value>../session</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.realm.*:moduleURL</param-name>
        <param-value>../realm</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.policy.*:moduleURL</param-name>
        <param-value>../policy</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.idm.*:moduleURL</param-name>
        <param-value>../idm</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.user.*:moduleURL</param-name>
        <param-value>../user</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.delegation.*:moduleURL</param-name>
        <param-value>../delegation</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.agentconfig.*:moduleURL</param-name>
        <param-value>../agentconfig</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.task.*:moduleURL</param-name>
        <param-value>../task</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.version.*:moduleURL</param-name>
        <param-value>../ccversion</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.federation.*:moduleURL</param-name>
        <param-value>../federation</param-value>
    </context-param>
    <context-param>
        <param-name>jato:com.sun.identity.console.webservices.*:moduleURL</param-name>
        <param-value>../webservices</param-value>
    </context-param>

    <servlet>
        <servlet-name>UMServlet</servlet-name>
        <servlet-class>com.sun.identity.console.user.UMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.sun.identity.console.authentication.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AMBaseServlet</servlet-name>
        <servlet-class>com.sun.identity.console.base.AMBaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCServlet</servlet-name>
        <servlet-class>com.sun.identity.console.service.SCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMServlet</servlet-name>
        <servlet-class>com.sun.identity.console.session.SMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RMServlet</servlet-name>
        <servlet-class>com.sun.identity.console.realm.RMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PMServlet</servlet-name>
        <servlet-class>com.sun.identity.console.policy.PMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IDMServlet</servlet-name>
        <servlet-class>com.sun.identity.console.idm.IDMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelegationServlet</servlet-name>
        <servlet-class>com.sun.identity.console.delegation.DelegationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentConfigurationServlet</servlet-name>
        <servlet-class>com.sun.identity.console.agentconfig.AgentConfigurationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.sun.identity.console.task.TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VersionServlet</servlet-name>
        <servlet-class>com.sun.identity.console.version.VersionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FSServlet</servlet-name>
        <servlet-class>com.sun.identity.console.federation.FSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSServlet</servlet-name>
        <servlet-class>com.sun.identity.console.webservices.WSServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/authentication/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AMBaseServlet</servlet-name>
        <url-pattern>/base/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMServlet</servlet-name>
        <url-pattern>/session/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RMServlet</servlet-name>
        <url-pattern>/realm/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PMServlet</servlet-name>
        <url-pattern>/policy/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IDMServlet</servlet-name>
        <url-pattern>/idm/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UMServlet</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelegationServlet</servlet-name>
        <url-pattern>/delegation/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/task/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentConfigurationServlet</servlet-name>
        <url-pattern>/agentconfig/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VersionServlet</servlet-name>
        <url-pattern>/ccversion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FSServlet</servlet-name>
        <url-pattern>/federation/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSServlet</servlet-name>
        <url-pattern>/webservices/*</url-pattern>
    </servlet-mapping>
</web-app>
