<div class="container">

    {{#if reqs.header}}
        <div class="page-header">
            <h1 class="text-center">{{reqs.header}}</h1>
        </div>
    {{/if}}

    <form action="" method="post" class="form login col-sm-6 col-sm-offset-3" autocomplete="off" data-stage="{{reqs.stage}}">
        <fieldset class="row">
            {{#each reqs.callbacks}}
                {{#if isSubmit}}
                    {{#if ../../showRememberLogin}}
                        {{> login/_RememberLogin }}
                    {{/if}}
                {{/if}}

                <div class="form-group">
                    {{callbackRender}}
                </div>
            {{/each}}

            {{> login/_SelfService }}

            {{#if showSocialLogin}}
                {{> login/_SocialAuthn }}
            {{/if}}
        </fieldset>
    </form>
</div>
