<!--
/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright © 2012 ForgeRock Inc. All rights reserved.
 *
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License). You may not use this file except in
 * compliance with the License.
 *
 * You can obtain a copy of the License at
 * http://forgerock.org/license/CDDLv1.0.html
 * See the License for the specific language governing
 * permission and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at http://forgerock.org/license/CDDLv1.0.html
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [2012] [Forgerock AS]"
 */
-->

<html>
  <head>
  	<style type = "text/css">
		body {
			font-family:Times New Roman;
			font-size:17px;
			list-style-type: none;
		}
		P {
			margin-bottom: 3px;
		}
	</style>
  </head>
  <body>
    <h3>Dear $DATA.USER_NAME </h3>
    <p>
	    A request to reset your  Web Portal passphrase has been received and processed.<br/>
		Please see below a new temporary passphrase which has been created for you but will need to 
		be changed to something you can remember when you sign on again.<br/>
		<br/>
		<b>New temporary Passphrase: </b>$DATA.PASSPHRASE<br/><br/>
	    
		Please note:<br/>
		- &nbsp; When you sign on with this temporary passphrase the system will force you to choose a new one known only by you.<br/>
		- &nbsp; Please ensure it contains at least <b>8 characters</b><br/>
		- &nbsp; Your chosen passphrase alongside your password will be used to verify your access to the Portal in future<br/>
	    
		<br/><b>Issue Reporting</b><br/>
		If you experience any issues with your logon credentials please report them to:<br/>
		servicedesk@.com or 0207 426 7200<br/>
		<br/>
		Many Thanks
		<br/><br/>
		<b>Service Desk<br/>  <b/>
    </p>
  </body>
</html>
