<div class="page-header">
    <h1>Advanced Settings</h1>
</div>
<p class="panel-description">Realm Advanced Settings</p>

<div class="console-tabs">
    <div class="tab-menu">
        <ul class="nav nav-tabs" role="tablist">
            {{#each formData.schema.orderedProperties}}
            <li><a href="#{{this._id}}" role="tab" data-toggle="tab" aria-expanded="false">{{this.title}}</a></li>
            {{/each}}
        </ul>
    </div>

    <div class="nav-tab-content clearfix">

        <div id="tabpanel"></div>

        <div class="col-sm-offset-4 col-sm-8">
            <div class="btn-action-group">
                <button id="revert" class="btn btn-default" type="button">{{t "console.authentication.advancedSettings.revert"}}</button>
                <button id="saveChanges" class="btn btn-primary" type="button">{{t 'console.authentication.advancedSettings.saveChanges'}}</button>
            </div>
        </div>

    </div>

</div>
