<div class="page-header clearfix">
    <span class="header-icon pull-left"><i class="fa fa-key"></i></span>
    <h4 class="page-type">Realm</h4>
    <h1>Authentication</h1>
</div>

<div class="console-tabs">
    <div class="tab-menu">
        <ul class="nav nav-tabs" role="tablist">
            <li class="dropdown pull-right tabdrop hide">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-align-justify"></i>
                <i class="fa fa-ellipsis-v"></i>
              </a>
              <ul class="dropdown-menu"></ul>
            </li>
            <li class="active"><a href="#settings" role="tab" data-toggle="tab" aria-expanded="true">Settings</a></li>
            <li><a href="#chains" role="tab" data-toggle="tab" aria-expanded="false">Chains</a></li>
            <li><a href="#modules" role="tab" data-toggle="tab" aria-expanded="false">Modules</a></li>
        </ul>
    </div>

    <div class="tab-content clearfix">
        <div role="tabpanel" class="tab-pane active" id="settings"></div>
        <div role="tabpanel" class="tab-pane" id="chains"></div>
        <div role="tabpanel" class="tab-pane" id="modules"></div>
    </div>
</div>
