<nav id="backlink"></nav>

<div class="container">
    {{> headers/_Title title=name }}

    {{#if tabbed}}
    <div class="tab-menu">
        <ul class="nav nav-tabs" role="tablist">
            {{#if schema.grouped}}
                {{#each schema.orderedProperties}}
                <li><a href="#" data-tab-id="{{this._id}}" role="tab" data-toggle="tab" aria-expanded="false">{{this.title}}</a></li>
                {{/each}}
            {{else}}
                <li><a href="#" data-tab-id="schema" role="tab" data-toggle="tab" aria-expanded="false">{{t "console.services.edit.settings"}}</a></li>
            {{/if}}
        </ul>
    </div>
    {{/if}}

    <div class="panel panel-default {{#if tabbed}}fr-panel-tab{{/if}}">
        <div class="panel-body tab-content">
            <div role="tabpanel" class="tab-pane active" id="tabpanel">
                <div data-json-form></div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            {{> form/_JSONSchemaFooter}}
        </div>
    </div>
</div>
