<div class="striped-list created-items">
    <h3><span
            class='toggle-all {{#if selectedAll}} icon-checkbox-checked {{/if}} {{#unless selectedAll}} icon-checkbox-unchecked {{/unless}}'
            tabindex='0' data-action-name="{{action}}"></span> {{t "policy.common.actions"}}</h3>
    <ul>
        {{#if entity.actions}}
        {{#each entity.actions}}
        <li class="{{#if selected}} highlight {{/if}}" data-action-name="{{action}}" tabindex='0'>
            <span class='{{#if selected}} icon-checkbox-checked {{/if}} {{#unless selected}} icon-checkbox-unchecked {{/unless}}' tabindex='0'></span>
            <span class="action-name">{{action}}</span>
            <div class="float-right">
                <span class='{{#if value}} icon-radio-checked {{/if}} {{#unless value}} icon-radio-unchecked {{/unless}}' tabindex='0' data-action-permission="true"></span>
                <span class="action-permission">{{t "policy.actions.allow"}}</span>
                <span class='{{#unless value}} icon-radio-checked {{/unless}} {{#if value}} icon-radio-unchecked {{/if}}' tabindex='0' data-action-permission="false"></span>
                <span class="action-permission">{{t "policy.actions.deny"}}</span>
            </div>
        </li>
        {{/each}}
        {{else}}
        <li class="disabled">{{t "policy.common.noActions"}}</li>
        {{/if}}
    </ul>
</div>
