<div class="container">
    <div class="page-header">
        <h1>
            <strong>{{appName}}</strong>: {{t "policy.policies.list.policies"}}
            <a class="pull-right btn btn-default" href="#app/{{encodeURIComponent appName}}" role="button">{{t 'common.form.back'}}</a>
        </h1>

        <small>{{t "policy.common.realm"}}: {{policyEditorRealmUrlHelper realm}}</small>
        <small id="appNameHeader"></small>
    </div>

    <div class="btn-toolbar" id="gridToolbar" role="toolbar" aria-label="toolbar"></div>

    <div id="backgridContainer"></div>
    <div id="paginationContainer"></div>
</div>