<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="fedletLogLevel" value="info" />
    <add key="fedletMutualAuthCertAlias" value="test" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <globalization enableClientBasedCulture="true" culture="auto" uiCulture="auto" />
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>