<style>
#header{
    width: {{theme.settings.lessVars.login-container-width}};
}
</style>
<div class="container-shadow" id="login-container">
    <div class="column-layout" style="padding-top: 30px;">
        <div>
            <form action="" method="post" class="form">
                <fieldset>
    
                    {{#each reqs.callbacks}}
                    
                    {{#if isSubmit}}
                    <div class="field field-checkbox">
                        <label style="text-align:left;"><input type="checkbox" name="loginRemember" />{{t "templates.user.LoginTemplate.loginRemember"}}</label>
                    </div>
                    {{/if}}
                    
                    <div class="field {{#if isSubmit}}field-submit{{/if}}">
                        {{callbackRender}} 
                        {{#if isSubmit}}
                            <br/><br/>
                            {{#if ../../showForgotPassword}}
                            <a href="#forgotPassword/" class="SelfService">{{t "common.user.forgotPassword" }}</a>
                            {{/if}}
                            {{#if ../../showSpacer}}
                            &nbsp;|&nbsp;
                            {{/if}}
                            {{#if ../../showRegister}}
                            <a href="#register/" class="SelfService">{{t "common.form.register" }}</a>
                            {{/if}}
                        {{/if}}
                    </div>
                    {{/each}}
                    
                </fieldset>
            </form>
        </div>
    </div>
</div>