<div class="container">

    {{#if reqs.header}}
    <div class="page-header">
        <h1 class="text-center">{{reqs.header}}</h1>
    </div>
    {{/if}}

    <form action="" method="post" class="form col-sm-6 col-sm-offset-3">
        <fieldset>

            {{#each reqs.callbacks}}

            {{#if isSubmit}}
            <div class="remember-forgot clearfix">

                {{#if ../../showForgotPassword}}
                <div class="pull-right">
                    <a href="#forgotPassword" id="forgotPassword">{{t "common.user.forgotPassword" }}</a>
                </div>
                {{/if}}

                <div class="checkbox pull-left">
                    <label><input type="checkbox" type="checkbox" name="loginRemember" id="remember"> {{t "templates.user.LoginTemplate.loginRemember"}}</label>
                </div>
            </div>

            {{/if}}

            <div class="form-group">
                {{callbackRender}}
            </div>

            {{#if isSubmit}}
            <div class="text-center">
                {{#if ../../showRegister}}{{t "templates.login.notMember" }} <a href="#register" id="register">{{t "templates.login.joinNow" }}</a>{{/if}}
            </div>
            {{/if}}

            {{/each}}

            {{#if socialImplementations}}
                <div class="authn">
                    <span class="authn-header">or login with:</span>
                    {{#each socialImplementations}}
                        <a href="#login/{{../../auth.subRealm}}&service={{authnChain}}" title="{{displayName}}" ><span><img src="{{iconPath}}" /></span></a>
                    {{/each}}
                </div>
            {{/if}}

        </fieldset>
    </form>
</div>
