/* CSS Document */
#options div {
    width: 290px;
    float: left;
    height:200px;

}

.borderRight {
    padding-right: 10px
}

h4 {
    background: #eeea07;
    border: 1px solid;
    border-color: #eeea07;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    padding: 5px;
    margin-left: -5px;
    margin-bottom: 5px;
}
p {
    text-align:justify;
}
