<div class="container">
    <div class="container">
        <div class="page-header">
            <h1>
                {{#if entity.name}}
                {{t "scripts.edit.editTitle"}}: <strong>{{entity.name}}</strong>
                {{else}}
                {{t "scripts.edit.createTitle"}}
                {{/if}}
                <a class="pull-right btn btn-default" href="#list" role="button">{{t 'common.form.cancel'}}</a>
            </h1>
        </div>

        <div class="panel panel-default panel-content">
            <div class="panel-body">
                <form id="editScriptForm" class="form-horizontal" role="form">
                    <!-- NAME -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{t "scripts.edit.name"}}</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-control" value="{{entity.name}}" data-field="name" placeholder="{{t 'common.form.validation.required'}}" autofocus required>
                        </div>
                    </div>

                    <!-- LANGUAGE -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{t "scripts.edit.language"}}</label>
                        <div class="col-sm-8">
                        {{#if languages}}
                        {{#each languages}}
                        <div class="radio">
                            <label>
                                <input type="radio" name="language" id="{{value}}" value="{{value}}" data-field="language"
                                    {{#equals ../entity.language value}} checked {{/equals}}> {{name}}
                            </label>
                        </div>
                        {{/each}}
                        {{/if}}
                        </div>
                    </div>

                    <!-- CONTEXT -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{t "scripts.edit.context"}}</label>
                        <div class="col-sm-8">
                            {{#if contexts}}
                            {{#each contexts}}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="context" value="{{value}}" data-field="context"
                                        {{#equals ../entity.context value}} checked {{/equals}}> {{name}}
                                </label>
                            </div>
                            {{/each}}
                            {{/if}}
                        </div>
                    </div>

                    <!--SCRIPT-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="script">{{t "scripts.edit.script"}}</label>

                        <div class="col-sm-8">
                            <div class="clearfix script-area">
                                <button type="button" class="btn btn-default pull-left" id="upload">{{t "scripts.edit.upload"}}</button>
                                <textarea id="script" class="form-control pull-left script-text" rows="10" data-field="script">{{entity.script}}</textarea>
                            </div>

                            <div id="validation" class="validation-message"></div>

                            <button type="button" class="btn btn-default" id="validateScript">{{t "scripts.edit.validate"}}</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <a href="#list"><input type="button" name="cancel" value="{{t 'common.form.cancel'}}" class="btn btn-default"></a>
                    <input type="submit" name="save" value="{{t 'common.form.save'}}" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</div>