<div class="container">
    <div class="container">
        <div class="page-header">
            <h1>
                {{#if entity.name}}
                {{t "scripts.edit.editTitle"}}: <strong>{{entity.name}}</strong>
                {{else}}
                {{t "scripts.edit.createTitle"}}
                {{/if}}
                <div class="pull-right">
                    <a class="btn btn-default" id="changeContext" role="button">{{t 'scripts.edit.changeContext'}}</a>
                    <a class="btn btn-default" href="#list" role="button">{{t 'common.form.cancel'}}</a>
                </div>
            </h1>
        </div>

        <div class="panel panel-default panel-content">
            <form class="form-horizontal" role="form">
                <div class="panel-body">
                    <!-- NAME -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{t "scripts.edit.name"}}</label>

                        <div class="col-sm-8">
                            <input type="text" id="name" name="scriptName" class="form-control" value="{{entity.name}}"
                                   data-field="name" placeholder="{{t 'common.form.validation.required'}}" autofocus required>
                        </div>
                    </div>

                    <!-- DESCRIPTION -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{t "scripts.edit.description"}}</label>

                        <div class="col-sm-8">
                            <textarea id="description" class="form-control pull-left script-text" rows="3"
                                      data-field="description">{{entity.description}}</textarea>
                        </div>
                    </div>

                    <!-- CONTEXT -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{t "scripts.edit.context"}}</label>

                        <div class="col-sm-8">
                            <span class="form-control" id="context">{{entity.context}}</span>
                        </div>
                    </div>

                    <!-- LANGUAGE -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{t "scripts.edit.language"}}</label>

                        <div class="col-sm-8">
                            {{#each languages}}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="language" id="{{this}}" value="{{this}}" data-field="language"
                                    {{#equals ../entity.language this}} checked {{/equals}}> {{this}}
                                </label>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <!--SCRIPT-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="script">{{t "scripts.edit.script"}}</label>

                        <div class="col-sm-8">
                            <input type="button" class="btn btn-default" id="upload" value="{{t 'scripts.edit.upload'}}">

                            <div class="script-area">
                                <textarea id="script">{{entity.script}}</textarea>
                            </div>

                            <div id="validation" class="validation-message"></div>
                            <input type="button" class="btn btn-default" id="validateScript" value="{{t 'scripts.edit.validate'}}">
                        </div>
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a class="btn btn-default" href="#list" role="button">{{t 'common.form.cancel'}}</a>
                        <input type="button" name="save" value="{{t 'common.form.save'}}" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>