dn: @AMSESSIONDB_BASEDN@
objectClass: domain
objectClass: top
dc: @AMSESSIONDB_RDN@

dn: ou=famrecords,@AMSESSIONDB_BASEDN@
ou: famrecords
objectClass: organizationalUnit

dn: ou=amsessiondb,@AMSESSIONDB_BASEDN@
ou: amsessiondb
objectClass: organizationalUnit

