dn: dc=internal,@SM_CONFIG_BASEDN@
objectClass: domain
objectClass: top
dc: internal

dn: ou=famrecords,dc=internal,@SM_CONFIG_BASEDN@
ou: famrecords
objectClass: organizationalUnit

dn: ou=amsessiondb,dc=internal,@SM_CONFIG_BASEDN@
ou: amsessiondb
objectClass: organizationalUnit

