/* Candidate for Commons */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
    color:#999;

    a:hover, a:focus{
        text-decoration:none;
    }

    .card-menu {
        float:right;
        button.btn-link{
            color:#999;
            &:hover{
                color: darken(@base-theme-color, 5%);
            }
        }
    }

    .card-body {
        clear:both;
        text-align: center;
        padding: 24px 15px;

        .card-name {
            font-size: 18px;
            line-height: 1.2;
            margin: 10px 0 0;
            .ellipsis;

            &.card-name-sm {
                font-weight: 300;
                font-size: 16px;
                .ellipsis;
            }
        }

        .card-subtext {
            color:#999;
            .ellipsis;

            div, p{
                .ellipsis;
            }
        }

        &.card-body-with-menu {
            padding-top: 0;
        }
    }

    .card-footer {
        border-top: 1px solid #ddd;
        color: #999;
        padding: 10px 15px;
        text-align: center;
        .text-success {
            color: darken(@base-theme-color, 5%);
        }
    }

    .card-icon-circle {

        background-color: @base-theme-color;
        color: #fff;
        margin: 0 auto;
        .icon-circle(120px);

        &.card-icon-circle-sm {
            .icon-circle(60px);
        }
    }

    &:hover {
        border: 1px solid @base-theme-color;
        transition: all 0.3s ease-in-out;
        .card-icon-circle {
            transition: all 0.3s ease-in-out;
            background-color: darken(@base-theme-color, 5%);
        }
    }
}
