<div class="container">
    {{> headers/_TitleWithSubAndIcon title="uma.requests.show.title" type="uma.common.shares" icon="bell" }}
    <p class="page-description">{{t 'uma.requests.show.description'}}</p>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-container"></div>
            <div class="clearfix pull-right">
                <button data-permission="allow" class="btn btn-primary" type="button">{{t 'common.form.allow'}}</button>
                <button data-permission="deny" class="btn btn-default" type="button" >{{t 'common.form.deny'}}</button>
            </div>
        </div>
    </div>
</div>
