<div class="policy-header">
    <h1>{{ name }}</h1>
</div>

<div id="uma">

    <div class="policy-content clearfix" >

        <div id="advancedView"></div>

        {{#if notFound}}
        <div class="striped-list" id="resourceList">
            <ul><li class="highlight-warning">{{t 'uma.share.notSpecifiedResource'}}</li></ul>
        </div>
        {{else}}
        <div id="selectUser" class="float-left">
            <label>{{t 'uma.share.people'}}</label>
            <select placeholder="{{t 'common.form.startTypingToSearch'}}">
                <option disabled selected value>{{t 'common.form.pleaseSelect'}}</option>
                {{#each permissions}}
                <option value="{{subject}}">{{subject}}</option>
                {{/each}}
            </select>
        </div>
        <div id="selectPermission" class="float-left">
            <label>{{t 'uma.share.permission'}}</label>
            <select multiple class="selectize">
                <option disabled selected value>{{t 'common.form.pleaseSelect'}}</option>
                {{#each scopes}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <!--<div id="selectAuthentication" class="float-left">
            <label>Authentication method</label>
        </div>-->

        <input type="button" value="{{t 'uma.share.share'}}" id="shareButton" class="button float-left" disabled/>
        {{/if}}
    </div>

    <div id="footerShare" class="clearfix">
        {{#if dialog}}
        <div id="footerActions" class="float-right">
            <a class="button" href="#" id="done" >{{t 'common.form.done'}}</a>
        </div>
        {{/if}}

        <div id="footerNav" class="float-left">
            <a href="#" id="toggleAdvanced" ><span class="icon-cog"></span>{{t 'uma.share.advanced'}}</a>
            <div id="shareCounter"></div>
        </div>
    </div>

</div>
