<div class="page-header">
    <h1>Authentication Settings</h1>
</div>
<p class="panel-description">Configure authentication modules to use when assembling your authentication trees.</p>

<div class="nav-tab-content clearfix">

    <div id="tabpanel"></div>

    <div class="col-sm-offset-4 col-sm-8">
        <div class="btn-action-group">
            <button id="saveChanges" type="button" class="btn btn-primary">{{t "console.authentication.settings.saveChanges"}}</button>
        </div>
    </div>

</div>
