/* Edit Script */

.script-area {
    margin: 0 0 15px 0;

    .script-text {
        margin: 15px 0 0 0;
    }
}

.validation-message {
    margin: 15px 0 0 0;

    .fa-times {
        vertical-align: top;
        font-size: 14px;
        margin: 3px 0 0;
    }

    .validation-error {
        color: #2a2f32;
        white-space: pre-line;
        padding: 0 10px;
        margin: 10px 0 0 0;
        border: 0;

        .validation-key {
            color: @failure-color;
        }
    }
}

/* Backgrid */
.backgrid {
    thead th {
        vertical-align: top;
        text-align: left;

        .form-search {
            margin: 5px 0 0 0;
        }
    }

    tbody {
        tr {
            &.selected {
                background-color: #d9edf7;
            }

            &.empty {
                background-color: #d9edf7;
                td {
                    display: table-cell;
                    color: #31708f;
                }
            }

            td.editor {
                padding: 4px 5px;
                outline: inherit;
                background-color: inherit;
            }
        }
    }
}