<div class="no-float">
	<div class="field-float-pattern data-obj">
	    <label for="selection_{{id}}" data-title="className">Class Name...</label>
	    <input type="text" id="policy{{id}}" name="policy-className-{{id}}" value="{{stringify data.className}}" disabled class="placeholderText read-only" />
	</div>

	<div class="field-float-pattern data-obj">
	    <label for="selection_{{id}}" data-title="properties">Properties...</label>
	    <input type="text" id="policy{{id}}" name="policy-properties-{{id}}" value="{{stringify data.properties}}" disabled class="placeholderText read-only" />
	</div>
</div>