<div class="clearfix clear-left" id="conditionAttrTimeDate">

    <div class="float-left input-group">

            <div class="field-float-pattern data-obj time-field">

                <label for="startTime" data-title="startTime">{{t "policy.conditionTypes.SimpleTime.props.startTime"}}</label>
                <input type="text" id="startTime" name="startTime" placeholder="HH:MM" value="{{data.startTime}}" readonly=true class="placeholderText clockpicker" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])" />
                <span class="inline-right icon-clock"></span>

            </div>

            <div class="field-float-pattern data-obj time-field">

                <label for="endTime" data-title="endTime">{{t "policy.conditionTypes.SimpleTime.props.endTime"}}</label>
                <input type="text" id="endTime" name="endTime" placeholder="HH:MM" value="{{data.endTime}}" readonly=true class="placeholderText clockpicker" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])" />
                <span class="inline-right icon-clock"></span>

            </div>

    </div>

    <div class="float-left input-group">

            <div class="field-float-select data-obj day-field">
                <label for="startDay" data-title="startDay">{{t "policy.conditionTypes.SimpleTime.props.startDay"}}</label>
                <select id="startDay" class="" tabindex="0">
                    <option value="">{{t "policy.common.notApplicable"}}</option>
                    {{#each weekdays}}
                    <option {{#equals ../data.startDay this.value}}selected{{/equals}} value="{{this.value}}">{{this.title}}</option>
                    {{/each}}
                </select>
            </div>


            <div class="field-float-select data-obj day-field">
                <label for="endDay" data-title="endDay">{{t "policy.conditionTypes.SimpleTime.props.endDay"}}</label>
                <select id="endDay" class="" tabindex="0">
                    <option value="">{{t "policy.common.notApplicable"}}</option>
                    {{#each weekdays}}
                    <option {{#equals ../data.endDay this.value}}selected{{/equals}} value="{{this.value}}">{{this.title}}</option>
                    {{/each}}
                </select>
            </div>

    </div>

    <div class="float-left input-group">

            <div class="field-float-pattern data-obj date-field">
                <label for="startDate" data-title="startDate">{{t "policy.conditionTypes.SimpleTime.props.startDate"}}</label>
                <input type="text" id="startDate" name="startDate" value="{{data.startDate}}" readonly=true class="placeholderText datePicker" {{#if pattern}}pattern="{{pattern}}" {{/if}}/>
            </div>

            <div class="field-float-pattern data-obj date-field">
                <label for="endDate" data-title="endDate">{{t "policy.conditionTypes.SimpleTime.props.endDate"}}</label>
                <input type="text" id="endDate" name="endDate" value="{{data.endDate}}" readonly=true class="placeholderText datePicker" {{#if pattern}}pattern="{{pattern}}" {{/if}}/>
            </div>

    </div>

    <div class="float-left input-group">

        <div class="field-float-select data-obj day-field timezone-field">

            <label for="enforcementTimeZone" data-title="enforcementTimeZone">{{t "policy.conditionTypes.SimpleTime.props.enforcementTimeZone"}}</label>
            <input type="text" name="timeZones"  value="{{data.enforcementTimeZone}}" id="enforcementTimeZone" placeholder="{{t 'policy.conditionTypes.SimpleTime.props.enterTimeZone'}}">

        </div>

    </div>

</div>

<div class="ruleHelperText clear-left">
    <p>{{t "policy.conditionTypes.SimpleTime.helper"}}</p>
</div>


