<li class="subject clearfix" >

	<span class="item-button-panel">
		<span class="icon-cog"></span>
		<span class="icon-remove"></span>
	</span>

	<div class="item-subject-data">

		<div class="field-float-select data-obj">
			<label for="subjectType" >Subject Type</label>
			<select id="subjectType" class=placeholdertext>
				<option value="" selected disabled >select...</option>
				{{#subjects}}<option value="{{type}}">{{type}}</option>{{/subjects}}
			</select>
		</div>

		<div class="field-float-pattern data-obj">
			<label for="subjectList">Subject</label>
			<input name="subjectList" type="text" list="subjectList" readonly=true />
			<datalist id="subjectList"></datalist>
		</div>

		<div class="field-float-pattern data-obj">
			<label for="attributeValue">Value</label>
			<input type="text"  name="attributeValue" placeholder="" readonly=true />
		</div>

	</div>

</li>
