<div class="content-bg">
    <div class="policy-header">
        <a href="#app/{{options.appName}}/policies/" id="cancelButton" class="button float-right">{{t "common.form.cancel"}}</a>
        {{#if entity.name}}
        <h1>{{t "policy.editReferrals.editReferral"}}: <span>{{entity.name}}</span></h1>
        {{else}}
        <h1>{{t "policy.editReferrals.title"}}</h1>
        {{/if}}
        <h2><span>{{t "policy.common.realm"}}:</span> {{policyEditorRealmUrlHelper options.realm}}</h2>
        <h2><span>{{t "policy.common.application"}}:</span> <a title="{{t 'policy.editApplications.editApplication'}}" href='#app/{{options.appName}}'>{{options.appName}}</a></h2>

    </div>

    <div class="policy-content">
        <p>{{t "policy.editReferrals.description"}}</p>

        <form class="form">

            <div id="policy-steps" class="accordion">
                <h1 class="accordion-header" tabindex="0">
                    {{t "policy.editReferrals.step1"}}
                    <span class="help-link" data-help-key="referral.name"></span>
                </h1>
                <section class="accordion-step clearfix">

                    <div class="group-field-block">
                        <label class="short" for="policyName">{{t "policy.common.name"}}</label>
                        <input class="prop-val" id="policyName" type="text" value="{{entity.name}}" data-field="name" autofocus required placeholder="{{t 'common.form.validation.required'}}"/>
                    </div>

                    <input class="button" type="button" value="{{t 'policy.common.buttons.next'}}" name="nextButton">

                </section>

                <h1 class="accordion-header" tabindex="0">
                    {{t "policy.editReferrals.step2"}}
                    <span class="help-link" data-help-key="referral.resources"></span>
                </h1>
                <section class="accordion-step clearfix">

                    <div class="clearfix">
                        <div class="col2" id="patterns"></div>
                        <div class="col2" id="resourcesList"></div>
                    </div>
                    <input class="button" type="button" value="{{t 'policy.common.buttons.next'}}" name="nextButton">

                </section>

                <h1 class="accordion-header" tabindex="0">
                    {{t "policy.editReferrals.step3"}}
                    <span class="help-link" data-help-key="referral.realms"></span>
                </h1>
                <section class="accordion-step clearfix">

                    <div class="clearfix" id="selectRealms"></div>
                    <input class="button" type="button" value="{{t 'policy.common.buttons.next'}}" name="nextButton">

                </section>

                <h1 class="accordion-header" tabindex="0">{{t "policy.editReferrals.step4"}}</h1>
                <section class="accordion-step clearfix">

                    <div id="reviewInfo" class="clearfix"></div>
                    <input class="button" type="button" value="{{t 'policy.common.buttons.finish'}}" name="submitForm">

                </section>
            </div>
        </form>
    </div>
</div>
