<div class="content-bg">

    <a href="#apps/" class="button float-right" id="backButton">Back</a>
    
    {{#if entity.name}}
    <h1>{{t "config.messages.PolicyMessages.edit"}}<span>{{entity.name}}</span></h1>
    {{else}}
    <h1>{{t "config.messages.PolicyMessages.createApp"}}</h1>
    {{/if}}

    <p>An application (term as used in the Entitlements Service) consolidates policy-related meta data for a specified service. This template is then used when policies are created for the service. To create an application, begin with Step 1 and progress through step 3. Modifications can be made after the application has been created.</p>

    <form class="form">
        <div class="accordion">

            <h1 class="accordion-header" tabindex="0">Step 1: Define an Application Name</h1>
            <section class="accordion-step clearfix">

                <div class="clearfix">
                    <div class="group-field-block col2 ">
                        <label class="prop-name" for="appName">Name:</label>
                        <input class="prop-val" id="appName" type="text" value="{{entity.name}}" data-field="name" placeholder="required" required autofocus/>
                    </div>

                     <div class="group-field-block col2">
                        <label class="prop-name" for="appRealm">Realm</label>
                        <input class="prop-val" id="appRealm" type="text" value="{{entity.realm}}" data-field="realm"  />
                    </div>
                </div>

                <div class="group-field-block">
                    <label class="prop-name" for="appDescription">Description (optional):</label>
                    <textarea class="prop-val" id="appDescription" data-field="description">{{entity.description}}</textarea>
                </div>
                <input type="button" value="Next" name="nextButton" class="button"/>

            </section>

            <h1 class="accordion-header" tabindex="0">Step 2: Add Application Base</h1>
            <section class="accordion-step clearfix">

                <div class="clearfix">
                    <div class="col2" id="patterns"></div>
                    <div class="col2" id="resourcesList"></div>
                </div>

                <input type="button" class="button" value="Next" name="nextButton"/>
            </section>

            <h1 class="accordion-header" tabindex="0">Step 3: Review Configuration</h1>
            <section class="accordion-step clearfix">

                <p>Review the application configuration and click Finish to save.</p>
                <div id="reviewInfo" class="clearfix"></div>
                <input type="button" class="button" value="Finish" name="submitForm"/>

            </section>
        </div>
    </form>
</div>
