<table class="filter-sort-grid manage-policies">
    <thead>
    <tr class="header-actions">
        <td colspan="9">
            <input id="customizeView" class="button float-right" type="button" value="Customize table view">
            <input class="button float-right" type="button" value="Delete">
            <input class="button float-right" type="button" value="Export">

            <div id="customizeColumns" class="customize-view-flyout clearfix">

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="description" value="Description"/>
                    <label for="description">Description</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="application" value="Application"/>
                    <label for="application">Application</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="author" value="Author"/>
                    <label for="author">Author</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="created" value="Created"/>
                    <label for="created">Created</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="modifiedBy" value="Modified By"/>
                    <label for="modifiedBy">Modified By</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="lastModified" value="Last Modified"/>
                    <label for="lastModified">Last Modified By</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="resources" value="Resources"/>
                    <label for="resources">Resources</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="exceptions" value="Exceptions"/>
                    <label for="exceptions">Exceptions</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="subject" value="Subject"/>
                    <label for="subject">Subject</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="actions" value="Actions"/>
                    <label for="actions">Actions</label><br/>
                </div>


                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="conditions" value="Conditions"/>
                    <label for="conditions">Conditions</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="resourceAttributes" value="Resource Attributes"/>
                    <label for="resourceAttributes">Resource Attributes</label><br/>
                </div>

                <div class="customize-item">
                    <input type="checkbox" name="customizeCols" id="userAttributes" value="User Attributes"/>
                    <label for="userAttributes">User Attributes</label><br/>
                </div>


                <input type="button" value="Apply" id="applyViewCustomization" class="apply-customization button">
            </div>
        </td>
    </tr>


    <tr class="header-titles">
        <td><input type="checkbox"/></td>
        <td><a href="">Name</a></td>
        <td><a href="">Description</a></td>
        <td><a href="">Last Modified By</a></td>
        <td><a href="">Resources</a></td>
        <td><a href="">Subjects</a></td>
    </tr>
    <tr class="header-filter">
        <td></td>
        <td><input type="text" value="" placeholder="Filter ..." /></td>
        <td><input type="text" value="" placeholder="Filter ..." /></td>
        <td><input type="text" value="" placeholder="Filter ..." /></td>
        <td><input type="text" value="" placeholder="Filter ..." /></td>
        <td><input type="text" value="" placeholder="Filter ..." /></td>
    </tr>
    </thead>

    <tbody>
    {{#result}}
    <tr>
        <td><input type="checkbox"/></td>
        <td class="ellipsis-col name-col"><a href="#app/{{applicationName}}/policy/{{name}}">{{name}}</a></td>
        <td class="ellipsis-col description-col">{{description}}</td>
        <td class="lastModBy-col ellipsis-col">{{lastModifiedBy}}</td>
        <td class="ellipsis-col resources-col">included: {{resources.included}},</td>
        <td class="ellipsis-col subject-col">type: {{subject.type}}, subjectName: {{subject.subjectName}}</td>
    </tr>
    {{/result}}
    </tbody>

    <tfoot>
    <tr class="footer-pagination">
        <td colspan="9">
        <span class="items-per-page">
            Show <input type="text" value="2"/> items per page
        </span>

        <span class="pagination-controls">
            &lt;&lt; &lt; 1, 2, 3 &gt; &gt;&gt;
        </span>
        </td>
    </tr>
    </tfoot>
</table>
