<div id="condition-management">
	<p>Lorem ipsum dolor sit amet, in sed primis iisque. Hinc viris equidem duo te. Ius in minim mediocrem, quaestio vituperatoribus ex quo. Assum blandit detraxit te qui, an qui sapientem quaerendum. At his lorem animal accusata.</p>
	<ol id='dropoff-area' class="condition-management-group" ></ol>

	<div id="pickup-area" class=clearfix>

		<div class=clearfix>

			<div class="pickup-actions-block float-left">
				<a class="icon-plus button" id="addSubject" href=#><span>Subject</span></a>
				<a class="icon-plus button" id="addOperator" href=#><span>Operator</span></a>
			</div>

			<div class="pickup-actions-block float-right">
				<a class="button inactive" id="clear" href=#>Clear</a>
			</div>

		</div>

		<ol class='condition-management-group clearfix' id='pickup-item'></ol>

	</div>

</div>
