<a href="#app/" class="button" id="addNewApp">{{t "policy.manageApplications.add"}}</a>
<a class="button {{#unless apps.selected}} inactive {{/unless}}" id="deleteApps">{{t "policy.common.buttons.deleteSelected"}}{{#if apps.selected}} ({{apps.selected}}) {{/if}}</a>
<a class="button float-right" id="importPolicies">{{t "policy.manageApplications.importPolicies"}}</a>
<a class="button float-right" id="exportPolicies">{{t "policy.manageApplications.exportPolicies"}}</a>
<input type="file" id="realImport" class="hidden"/>
