<div class="content-bg">
    <div class="policy-header">
        <a href="#apps/" class="button float-right" id="backToApps">Back</a>
        <h1><span>{{appName}}</span> policies & referrals</h1>
        <h2>Realm: {{realm}}</h2>
    </div>

    <div class="tabs">
        <ul class="tab-links clearfix">
            <li class="active-tab"><a href="#tab1">Policies</a></li>
            <li><a href="#tab2">Referrals</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab1" class="tab active-tab">
                <div class="clearfix">
                    <p>To modify configured policies, click the policy name. You can also select the policy to remove it or export it.</p>
                    <span id="globalActions"></span>
                </div>
                <table id="managePolicies" class="policy-editor-grid"></table>
                <div id="policiesPager"></div>
            </div>

            <div id="tab2" class="tab">
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>


</div>
