<div id="condition-management">
<p>Lorem ipsum dolor sit amet, in sed primis iisque. Hinc viris equidem duo te. Ius in minim mediocrem, quaestio vituperatoribus ex quo. Assum blandit detraxit te qui, an qui sapientem quaerendum. At his lorem animal accusata.</p>
	<ol class="condition-management-group">

		<li id="first-rule" class="operator clearfix">
			<span>Match</span> 
			<select>
				<option value="all">ALL</option>
				<option value="any">ANY</option>
				<option value="none">NONE</option>
			</select> 
			<span>of the following</span> 
			<span class='item-button-panel'></span>
			<ol class="dropbox" id='dropbox'></ol>
		</li>

	</ol>

	<div id="pickup-area" class=clearfix>

		<div class=clearfix>

			<div class="pickup-actions-block float-left">
				<a class="icon-plus button" id="addEnvironment" href=#><span>Environment</span></a>
				<a class="icon-plus button" id="addOperator" href=#><span>Operator</span></a>
			</div>
			
			<div class="pickup-actions-block float-right">		
				<a class="button inactive" id="clear" href=#>Clear</a>
			</div>

		</div>
		
		<ol class='condition-management-group clearfix pickup' id='pickup-environment'></ol>
		<ol class='condition-management-group clearfix pickup' id='pickup-operator'></ol>

	</div>

</div>

