<p>Create your resource</p>
<div class="striped-list created-items" id="createdResources">
    <h3>Resources</h3>
    <ul>
    {{#if entity.resources}}
        {{#each entity.resources}}
        <li data-resource="{{this}}" {{#equals this ../../options.invalidResource}} class="invalid"{{/equals}}{{#equals this ../../options.justAdded}}class="justAdded"{{/equals}} >{{this}}<span tabindex="0" class="icon-close float-right"></span></li>
        {{/each}}
    {{else}}
        <li class="invalid">There are no resources...</li>
    {{/if}}

    {{#if options.newPattern}}
    <li class="editing clearfix" data-resource="{{options.newPattern}}">{{resourceHelper}}<span tabindex="0" class="icon-plus float-right"></span></li>
    {{/if}}

    </ul>
    
</div>



