<p>Review the application configuration and click Finish to save.</p>
<p>Switch to <a href="#" id="toggleAdvanced">{{#if advancedMode}}non-advanced{{else}}advanced{{/if}}</a> view state.</p>

{{! The IDs are used for testing }}
<div class="col2">

    <div class="review-row clearfix{{#equals '' entity.name}} invalid{{/equals}}" tabindex="0" >
        <h2>Name</h2>
        {{#unless advancedMode}}
        {{#if entity.name}}
        <span class="icon-arrow-down2"></span>
        {{/if}} 
        {{/unless}}
        <div class="advanced-mode">
            <p id="reviewName"{{#unless entity.name}} class="invalid"{{/unless}}>{{#if entity.name}}{{entity.name}}{{else}}There is no name{{/if}}</p>
        </div>
    </div>

    <div class="review-row clearfix{{#if options.invalidResource}} invalid{{/if}}{{#unless entity.resources}} invalid{{/unless}}" tabindex="0" >
        <h2>Resources</h2>
        {{#unless advancedMode}}
        {{#if entity.resources}} <span class="icon-arrow-down2"></span>{{else}} <span class="advanced-empty-msg">(empty)</span>{{/if}}
        {{/unless}}
        <div class="advanced-mode">
            {{#if entity.resources}}
            <ul id="reviewRes">
                {{#each entity.resources}}
                <li{{#equals this ../../options.invalidResource}} class="invalid"{{/equals}}>{{this}}</li>
                {{/each}}
            </ul>
            {{else}}
            <p class="invalid">There are no resources</p>
            {{/if}}
        </div>
    </div>

</div>

<div class="col2">

    <div class="review-row clearfix {{#unless entity.realms}} invalid{{/unless}}" tabindex="0" >
        <h2>Realms</h2>
        {{#unless advancedMode}}
        {{#if entity.realms}} <span class="icon-arrow-down2"></span>{{else}} <span class="advanced-empty-msg">(empty)</span>{{/if}}
        {{/unless}}
        <div class="advanced-mode">
            {{#if entity.realms}}
            <ul id="reviewRes">
                {{#each entity.realms}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{else}}
            <p class="invalid">There are no realms</p>
            {{/if}}
        </div>
    </div>

</div>