{{! The IDs are used for testing }}
<div class="col2">
    <div class="review-row clearfix{{#equals '' entity.name}} invalid{{/equals}}" tabindex="0" >
        <h2>Name</h2> 
        <p id="reviewName">{{entity.name}}</p>
        {{#if entity.description}}
        <h2>Description</h2> 
        <p id="reviewDesc">{{entity.description}}</p>
        {{/if}}
    </div>

    <div class="review-row clearfix{{#if options.invalidResource}} invalid{{/if}}{{#unless entity.resources}} invalid{{/unless}}" tabindex="0" >
        <h2>Resources</h2>
        {{#if entity.resources}}
        <ul id="reviewRes">
            {{#each entity.resources}}
            <li{{#equals this ../../options.invalidResource}} class="invalid"{{/equals}}>{{this}}</li>
            {{/each}}
        </ul> 
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Actions</h2>
        {{#if entity.actions}}
        <ul id="reviewActions">
            {{#each entity.actions}}
            {{#if selected}}
            <li>{{action}}: {{#if value}} Allowed {{else}} Denied {{/if}}</li>
            {{/if}}
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>

<div class="col2">

    <div class="review-row clearfix" tabindex="0" >
        <h2>Subjects</h2>
        {{#if subjectString}}
        <pre>{{subjectString}}</pre>
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Environments</h2>
        {{#if environmentString}}
        <pre>{{environmentString}}</pre>
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Response attributes</h2>
        {{#if userAttributes}}
        <h3>User attributes</h3>
        <ul>
            {{#each userAttributes}}
            <li>{{propertyName}}</li>
            {{/each}}
        </ul>
        {{/if}}

        {{#if staticAttributes}}
        <h3>Static attributes</h3>
        <ul>
            {{#each staticAttributes}}
            <li>{{propertyName}}: {{propertyValues}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>
