<p>{{t "templates.policy.reviewPol"}}</p>
<p>{{t "templates.policy.switchTo"}} <a href="#" id="toggleAdvanced">{{#if advancedMode}}{{t "templates.policy.non-advanced"}}{{else}}{{t "templates.policy.advanced"}}{{/if}}</a> {{t "templates.policy.viewState"}}</p>

{{! The IDs are used for testing }}
<div class="col2">
    <div class="review-row clearfix{{#equals '' entity.name}} invalid{{/equals}}" tabindex="0">
        <h2>{{t "templates.policy.name"}}</h2>
        {{#unless advancedMode}}
        {{#if entity.name}}
        <span class="icon-arrow-down2"></span>
        {{/if}} 
        {{/unless}}
        <div class="advanced-mode">
            
            <p id="reviewName"{{#unless entity.name}} class="invalid"{{/unless}}>{{#if entity.name}}{{entity.name}}{{else}}{{t "templates.policy.noName"}}{{/if}}</p>
        
            {{#if entity.description}}
            <h2>{{t "templates.policy.description"}}</h2>
            <p id="reviewDesc">{{entity.description}}</p>
            {{/if}}
        </div>
    </div>

    <div class="review-row clearfix{{#if options.invalidResource}} invalid{{/if}}{{#unless entity.resources}} invalid{{/unless}}" tabindex="0">
        <h2>{{t "templates.policy.resources"}}</h2>
        {{#unless advancedMode}}
        {{#if entity.resources}} <span class="icon-arrow-down2"></span>{{else}} <span class="advanced-empty-msg">({{t "templates.policy.empty"}})</span>{{/if}}
        {{/unless}}
        <div class="advanced-mode">
            {{#if entity.resources}}
            <ul id="reviewRes">
                {{#each entity.resources}}<li{{#equals this ../../options.invalidResource}} class="invalid"{{/equals}}>{{this}}</li>{{/each}}
            </ul>
            {{else}}
            <p class="invalid">{{t "templates.policy.noResources"}}</p>
            {{/if}}
        </div>
    </div>

    <div class="review-row clearfix" tabindex="0">
        <h2>{{t "templates.policy.actions"}}</h2>
        {{#unless advancedMode}}
        {{#if actionsSelected}} <span class="icon-arrow-down2"></span>{{else}} <span class="advanced-empty-msg">({{t "templates.policy.empty"}})</span>{{/if}}
        {{/unless}}
        <div class="advanced-mode">
            {{#if actionsSelected}}
            <ul id="reviewActions">
                {{#each entity.actions}}
                {{#if selected}}
                <li>{{action}}: {{#if value}} {{t "templates.policy.allowed"}} {{else}} {{t "templates.policy.denied"}} {{/if}}</li>
                {{/if}}
                {{/each}}
            </ul>
            {{else}}
            <pre>{{t "templates.policy.noActions"}}</pre>
            {{/if}}
        </div>
    </div>
</div>

<div class="col2">
    <div class="review-row clearfix" tabindex="0">
        <h2>{{t "templates.policy.subjects"}}</h2>
        {{#unless advancedMode}}
        {{#if subjectString}} <span class="icon-arrow-down2"></span>{{else}} <span class="advanced-empty-msg">({{t "templates.policy.empty"}})</span>{{/if}}
        {{/unless}}
        <div class="advanced-mode">
            {{#if subjectString}}
            <pre>{{subjectString}}</pre>
            {{else}}
            <pre>{{t "templates.policy.noSubjectConditions"}}</pre>
            {{/if}}
        </div>
    </div>

    <div class="review-row clearfix" tabindex="0">
        <h2>{{t "templates.policy.environments"}}</h2>
        {{#unless advancedMode}}
        {{#if environmentString}} <span class="icon-arrow-down2"></span>{{else}} <span class="advanced-empty-msg">({{t "templates.policy.empty"}})</span>{{/if}}
        {{/unless}}
        <div class="advanced-mode">
            {{#if environmentString}}
            <pre>{{environmentString}}</pre>
            {{else}}
            <pre>{{t "templates.policy.noEnvironmentConditions"}}</pre>
            {{/if}}
        </div>
    </div>

    <div class="review-row clearfix" tabindex="0">
        <h2>{{t "templates.policy.responseAttributes"}}</h2>
        {{#unless advancedMode}}
        {{#if responseAttrs}} <span class="icon-arrow-down2"></span>{{else}} <span class="advanced-empty-msg">({{t "templates.policy.empty"}})</span>{{/if}}
        {{/unless}}
        <div class="advanced-mode">
            <h3>{{t "templates.policy.staticAttributes"}}</h3>
            {{#if combinedStaticAttrs}}
            <ul>
                {{#each combinedStaticAttrs}}
                <li>
                    <span>{{propertyName}}:</span> {{#each propertyValues}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
                </li>
                {{/each}}
            </ul>
            {{else}}
            <pre>{{t "templates.policy.noStaticAttributes"}}</pre>
            {{/if}}
        </div>

        <div class="advanced-mode">
            <h3>{{t "templates.policy.subjectAttributes"}}</h3>
            {{#if userAttrs}}
            <ul>
                {{#each userAttrs}}
                <li>{{propertyName}}</li>
                {{/each}}
            </ul>
            {{else}}
            <pre>{{t "templates.policy.noSubjectAttribute"}}</pre>
            {{/if}}
        </div>
    </div>
</div>
