<div class="col2">
    <div class="review-row clearfix" tabindex="0" >
        <h2>Name</h2>
        <span class="icon-pencil"></span>
        <p>{{entity.name}}</p>

        <h2>Application Type</h2>
        <p>{{entity.applicationType}}</p>
        {{#if entity.description}}<p>{{entity.description}}</p>{{/if}}

        <h2>Realms</h2>
        {{#if entity.realm}}
        <ul>
            {{#each entity.realm}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Resources</h2>
        <span class="icon-pencil"></span>
        {{#if entity.resources}}
        <ul>
            {{#each entity.resources}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Actions</h2>
        <span class="icon-pencil"></span>
        {{#if entity.actions}}
        <ul>
            {{#each entity.actions}}
            {{#if selected}}
            <li>{{action}}: {{#if value}} Allowed {{else}} Denied {{/if}}</li>
            {{/if}}
            {{/each}}
        </ul>
        {{/if}}
    </div>

</div>

<div class="col2">

    <div class="review-row clearfix" tabindex="0" >
        <h2>Subjects</h2>
        <span class="icon-pencil"></span>
        {{#if entity.subjects}}
        <ul>
            {{#each entity.subjects}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

    <div class="review-row clearfix">
        <h2>Environments</h2>
        <span class="icon-pencil"></span>
        {{#if entity.conditions}}
        <ul>
            {{#each entity.conditions}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Override Rules</h2>
        <span class="icon-pencil"></span>
        <p>{{options.entitlementCombiner}}: Allow</p>
    </div>

</div>
