<div class="column2">
    <div class="review-row">
        <a href="">Name</a> <span id="reviewName">{{app.name}}</span>
    </div>
    <div class="review-row">
        <a href="">Realms</a> <span id="reviewRealm">{{app.realm}}</span>
    </div>
    <div class="review-row">
        <a href="">Description</a> <span id="reviewDescr">{{app.description}}</span>
    </div>
    <div class="review-row">
        <a href="">Application Type</a> <span id="reviewType">{{app.applicationType}}</span>
    </div>
    <div class="review-row">
        <a href="">Resources</a> <span id="reviewRes">{{#each app.resources}}{{this}}<br/>{{/each}}</span>
    </div>
</div>

<div class="column2">
    <div class="review-row">
        <a href="">Subject Conditions</a>
        <span id="reviewSubj">{{#each app.subjects}} {{this}}<br/> {{/each}} </span>
    </div>
    <div class="review-row">
        <a href="">Actions</a>
        <span id="reviewActions">{{#each app.actions}}
                {{#if selected}}
                    {{action}}: {{#if value}} Allowed {{else}} Denied {{/if}}<br/>
                {{/if}}
              {{/each}}
        </span>
    </div>
    <div class="review-row">
        <a href="">Environment Conditions</a>
        <span id="reviewEnv">{{#each app.conditions}} {{this}}<br/> {{/each}} </span>
    </div>
    <div class="review-row">
        <a href="">Override Rules</a> <span id="reviewEntComb">{{app.entitlementCombiner}}: Allow</span>
    </div>
</div>