<p>{{t "templates.policy.selectRealmsText"}}</p>
<div class="striped-list created-items" id="selectedRealms">
    <h3>{{t "templates.policy.realms"}}</h3>
    <ul>
        {{#if entity.realms}}
        {{#each entity.realms}}
        <li data-realm="{{this}}" {{#equals this ../../options.justAdded}}class="highlight-good"{{/equals}}>
            {{policyEditorRealmHelper this}}
            <span tabindex="0" class="icon-close float-right"></span>
        </li>
        {{/each}}
        {{else}}
        <li class="invalid">{{t "templates.policy.noRealms"}}</li>
        {{/if}}

        <li class="editing clearfix">
            <span tabindex="0" class="icon-plus float-right"></span>
            {{policyEditorRealmHelper options.parentRealm}}
            <span class="realm icon-arrow-right2"></span>
            <input id="siblingRealm" type="text" placeholder="{{options.currentRealm}}{{#unless options.currentRealm}}Enter realm...{{/unless}}" value="{{options.currentRealm}}"  />
            {{#if options.currentRealm}}
            <span class="realm icon-arrow-right2" id="lastFSlash"></span>
            <input id="subRealm"type="text" placeholder="" />
            {{/if}}
            
        </li>
    </ul>
</div>