<p>{{t "templates.policy.selectRealmsText"}}</p>
<div class="striped-list created-items" id="selectedRealms">
    <h3>{{t "templates.policy.realms"}}</h3>
    <ul>
        {{#if entity.realms}}
        {{#each entity.realms}}
        <li data-realm="{{this}}" {{#equals this ../../options.justAdded}}class="highlight-good"{{/equals}}>
            {{policyEditorRealmHelper this}}
            <span tabindex="0" class="icon-close float-right"></span>
        </li>
        {{/each}}
        {{else}}
        <li class="invalid">{{t "templates.policy.noRealms"}}</li>
        {{/if}}

        <li class="editing clearfix">
            <span tabindex="0" class="icon-plus float-right"></span>
            <div id="selectableRealmContainer">
            <select id="selectableRealms" placeholder="{{t templates.policy.selectRealms}}">
                <option disabled selected value="">{{t "templates.policy.selectRealms"}}</option>
                {{#each options.selectableRealms}}
                    <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>  
            </div>      
        </li>
    </ul>
</div>