<p>{{t "policy.summaryReview.switchView"}}</p>

{{! The IDs are used for testing }}
<div class="form-group">
    <div class="col-sm-6">
        <div class="panel panel-default review-panel {{#equals '' entity.name}}panel-danger{{/equals}} {{#if options.invalidName}}panel-danger{{/if}} {{#if options.incorrectName}}panel-danger{{/if}}" tabindex="0">

            <div class="panel-body">
                <div class="panel-collapse">
                    <div class="panel-heading" data-toggle="collapse" data-target="#reviewNamePanel">
                        <h4 class="panel-title">{{t "policy.common.name"}}</h4>
                    </div>

                    <div id="reviewNamePanel" class="collapse {{#if advancedMode}}in{{/if}} {{#equals '' entity.name}}in{{/equals}} {{#if options.invalidName}}in{{/if}} {{#if options.incorrectName}}in{{/if}}">
                        <h5 class="review-title">{{t "policy.common.name"}}</h5>

                        <p id="reviewName" class="review-text {{#unless entity.name}} text-danger {{/unless}}">
                            {{#if options.incorrectName}}
                            {{t "policy.summaryReview.invalidName"}}
                            {{else}}
                            {{#if entity.name}}
                            {{entity.name}}
                            {{else}}
                            {{t "policy.summaryReview.noName"}}
                            {{/if}}
                            {{/if}}
                        </p>

                        <h5 class="review-title">{{t "policy.common.description"}}</h5>
                        <p id="reviewDesc" class="review-text">
                            {{#if entity.description}}
                            {{entity.description}}
                            {{else}}
                            {{t "policy.summaryReview.noDescription"}}
                            {{/if}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default review-panel clearfix {{#if options.invalidResource}}panel-danger{{/if}} {{#unless entity.resourceTypeUuids}}panel-danger{{/unless}}" tabindex="0">
            <div class="panel-body">
                <div class="panel-collapse">
                    <div class="panel-heading" data-toggle="collapse" data-target="#reviewRTPanel">
                        <h4 class="panel-title">{{t "policy.common.resourceTypes"}}</h4>
                    </div>

                    <div id="reviewRTPanel" class="collapse {{#if advancedMode}}in{{/if}} {{#if options.invalidResource}}in{{/if}} {{#unless entity.resourceTypeUuids}}in{{/unless}}">
                        {{#if entity.resourceTypeUuids}}
                        <ul id="reviewRes" class="review-text">
                            {{#each options.selectedResourceTypeNames}}
                            <li {{#equals this ../../options.invalidResource}} class="text-danger"{{/equals}}>{{this}}</li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <p class="text-danger review-text">{{t "policy.common.noResourceTypes"}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>