<%= start_form_tag :action=> "login" %>

<div title="Account login" id="loginform" class="form">
    <h3>Please login</h3>
    
    <label for="user_login">Login:</label><br/>
    <%= link_to "&#171; login", :action=>"login"%>  

</div>

<%= end_form_tag %>

