{{> breadcrumb/_Breadcrumb backLink=backLink}}
{{> headers/_Title title=(tWithParams "console.services.subSchema.new.title" subSchema=subSchemaType) }}

<div class="panel multiple-panels panel-content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="instanceId">{{t "common.form.name"}}</label>
                    <div class="col-sm-6">
                        <input data-name type="text" id="instanceId" class="form-control" required name="instanceId"
                            placeholder="{{t 'common.form.validation.required'}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-service-form-holder></div>

    <div class="panel-footer clearfix">
        <div class="pull-right">
            <a class="btn btn-default" href="{{routeTo 'realmsServiceEdit' realmPath serviceInstance}}">{{t "common.form.cancel"}}</a>
            <button data-save class="btn btn-primary" type="button">{{t "common.form.create"}}</button>
        </div>
    </div>
</div>
