{
    "env": {
        "mocha": true
    },
    "globals": {
        "expect": true
    },
    "rules": {
        /**
         * Chai's expect syntax creates seemingly useless expressions. e.g.
         *
         * expect(foo).to.be.null;
         */
        "no-unused-expressions": 0
    }
}
