<div class="container">
    {{#if reqs.header}}
    <div class="page-header">
        <h1 class="text-center">{{reqs.header}}</h1>
    </div>
    {{/if}}

    <form action="" method="post" class="form login col-sm-6 col-sm-offset-3 text-center" data-stage="{{reqs.stage}}">
        <fieldset class="row">
            <div class="form-group"><span></span></div>
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h4 class="awaiting-response"><i class="fa fa-circle-o-notch fa-spin text-primary"></i> {{t "templates.user.LoginTemplate.waitingForResponse"}}</h4>
                </div>
            </div>
            <div>{{t "templates.user.LoginTemplate.havingTrouble"}} <input
                            id="button_0"
                            name="callback_1"
                            type="submit"
                            role="button"
                            index="0"
                            value='{{t "templates.user.LoginTemplate.useRecoveryCode"}}'
                            class="btn btn-link am-btn-link-no-padding">
            </div>
            <div>
                {{#each reqs.callbacks}}
                {{#equals type "PollingWaitCallback"}}
                {{callbackRender}}
                {{/equals}}
                {{/each}}
            </div>
        </fieldset>
    </form>
</div>
