<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>OpenSSO IDP Discovery Service</display-name>
    <filter>
        <filter-name>idpDiscoveryConfiguratorFilter</filter-name>
        <filter-class>com.sun.identity.saml2.idpdiscovery.ConfiguratorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>idpDiscoveryConfiguratorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>saml2writer</servlet-name>
        <servlet-class>com.sun.identity.saml2.idpdiscovery.CookieWriterServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saml2reader</servlet-name>
        <servlet-class>com.sun.identity.saml2.idpdiscovery.CookieReaderServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>idffwriter</servlet-name>
        <servlet-class>com.sun.identity.saml2.idpdiscovery.CookieWriterServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>idffreader</servlet-name>
        <servlet-class>com.sun.identity.saml2.idpdiscovery.CookieReaderServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>saml2writer</servlet-name>
        <url-pattern>/saml2writer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saml2reader</servlet-name>
        <url-pattern>/saml2reader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>idffwriter</servlet-name>
        <url-pattern>/idffwriter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>idffreader</servlet-name>
        <url-pattern>/idffreader</url-pattern>
    </servlet-mapping>
</web-app>
